<div layout:decorate="~{layout}">
    <div layout:fragment="content">

        <!-- Main content Start Here -->
        <section class="content-header">
            <h1>Add Sub-Organization</h1>
        </section>
        <section class="content container-fluid form-box-control org-both-box">
            <form role="form" action="/subOrg/update" th:method="PUT" enctype="multipart/form-data" name="createSubOrg"
                  id="createSubOrg">
                <!--  Org Detail -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title"> Sub-Organization Details </h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Sub-Organization Name <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="name" id="name"
                                                       th:value="${subOrg.getName()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Sub-Organization Abbrevation <sup class="r-star-sign">*</sup>
                                                </label>
                                                <input type="text" class="form-control" name="abbreviations"
                                                       id="abbreviations" th:value="${subOrg.getAbbrevation()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Address Line 1 </label>
                                                <input type="text" class="form-control" name="address_line1"
                                                       id="address_line1" th:value="${subOrg.getAddressLine1()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Address Line 2 </label>
                                                <input type="text" class="form-control" name="address_line2"
                                                       id="address_line2" th:value="${subOrg.getAddressLine2()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 select-display">
                                            <div class="form-group">
                                                <label>city</label>
                                                <input type="text" name="city" id="city" th:value="${subOrg.getCity()}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> State/Province/Region </label>
                                                <input type="text" class="form-control" name="state" id="state"
                                                       th:value="${subOrg.getState()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Zip </label>
                                                <input type="text" class="form-control" name="zip" id="zip"
                                                       th:value="${subOrg.getZipCode()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 select-display">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="select-items form-control" name="country" id="country" disabled>
                                                    <option th:value="${country.id}" th:each="country : ${countries}"
                                                            th:text="${country.country_name}"
                                                            th:if="${ country.id == subOrg.getCountry() ? 'selected' : '' }"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Phone Number </label>
                                                <input type="text" class="form-control" name="phone_number"
                                                       id="phone_number" th:value="${subOrg.getPhoneNumber()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label for="subOrgImg"> Upload Image </label>
                                                <input type="text" id="subOrgImgName" name="subOrgImgName"
                                                       placeholder="Choose File" class="upload-input" th:value="${subOrg.getLogoImage()}" disabled>
                                                <input type="hidden" name="logo_image" id="logo_image"
                                                       th:value="${subOrg.getLogoImage()}">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="subOrgImg" id="subOrgImg" type="file" class="upload"
                                                           value="Upload"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 preview-image">
                                            <img id="preview-image"
                                                 th:src="@{ ${subOrgImageLocation} + ${subOrg.getLogoImage()} }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Org Detail -->
                <!--  Admin Detail -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title">App-Configurations</h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>App name <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="appName" id="appName"
                                                       th:value="${subOrg.getAppName()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>APP URL <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="appUrl" id="appUrl"
                                                       th:value="${subOrg.getAppUrl()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>API URL<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="apiUrl" id="apiUrl"
                                                       th:value="${subOrg.getApiUrl()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Admin Detail -->
                <!--  Admin Detail -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title"> Sub-Organization Admin Details </h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>first name <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="first_name"
                                                       id="first_name" th:value="${admin.firstName}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>last name <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="last_name" id="last_name"
                                                       th:value="${admin.lastName}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> email <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="email" id="email"
                                                       th:value="${admin.email}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Password <sup class="r-star-sign">*</sup> </label>
                                                <input type="password" class="form-control" name="password"
                                                       id="password" th:value="${decryptedPassword}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Confirm Password <sup class="r-star-sign">*</sup> </label>
                                                <input type="password" class="form-control" name="confirm_password"
                                                       id="confirm_password" th:value="${decryptedPassword}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Admin Detail -->
                <!--  Product Permission -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title"> SSO Settings </h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SSO URL <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="sso_url" id="sso_url"
                                                       th:value="${subOrg.getSsoUrl()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SSO Key <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="sso_key" id="sso_key"
                                                       th:value="${subOrg.getSsoKey()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SSO Type <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="sso_type" id="sso_type"
                                                       th:value="${subOrg.getSsoType()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Product Permission -->
                <!--  Default Communities  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title">Default Communities </h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="co-sm-12">
                                            <div class="col-sm-4">
                                                <label for="question">Can users disjoin default Communities ? </label>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <label><input type="radio" value="1" name="is_default_communities"
                                                                  id="yes"
                                                                  th:checked="${subOrg.getDisjoinDefaultCommunities()} == 1 ? 'checked'">
                                                        Yes</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <label> <input type="radio" value="0" name="is_default_communities"
                                                                   id="no"
                                                                   th:checked="${subOrg.getDisjoinDefaultCommunities()} == 0 ? 'checked'">
                                                        No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Default Communities -->
                <div class="col-sm-12 text-center">
                    <!--<input type="hidden" name="subOrgId" th:value="${subOrgId}">
                    <button class="main-button submit m-right-10" type="submit">Submit</button>-->
                    <a class="cancel-button" href="javascript:void();" onclick="history.back();"> Cancel </a>
                </div>
            </form>
        </section>
    </div>
    <!-- Main content End Here -->
    <script layout:fragment="inner-scripts">
        $(document).ready(function () {
            $("input,select,textarea").prop("disabled",true);
        });
    </script>
</div>