#/src/main/resources/application.properties
/src/main/resources/bootstrap.properties
/src/main/java/com/ril/svc/redis/RedisConfig.java
/target/
!.mvn/wrapper/maven-wrapper.jar
#application.properties
#application-dev.properties
#application-local.properties
#application-sandeep.properties
#application-uat.properties
#application-uatPM.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/