<form th:action="@{/user/update}" th:method="put" name="add-user" id="add-user">
    <div class="popup-form">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>first name<sup class="r-star-sign">*</sup> </label>
                    <input type="text" class="form-control" name="firstName" id="firstName" th:value="${userData.getFirstName()}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>last name<sup class="r-star-sign">*</sup> </label>
                    <input type="text" class="form-control" name="lastName" id="lastName" th:value="${userData.getLastName()}">
                    <input type="hidden" class="form-control" name="id" id="id" th:value="${id}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>email<sup class="r-star-sign">*</sup> </label>
                    <input type="text" class="form-control" name="email" id="email" th:value="${userData.getEmail()}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Password<sup class="r-star-sign">*</sup> </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Confirm Password<sup class="r-star-sign">*</sup> </label>
                    <input type="password" class="form-control" name="confPassowrd"
                           id="confPassowrd">
                </div>
            </div>
           <!-- <div class="col-md-4 select-display">
                <div class="form-group">
                    <label> Select Organization </label>
                    <select class="select-items form-control" name="orgList" id="orgList" th:value="${orgId}">
                        <option value="">Select an organization</option>
                        <option th:each="org : *{orgList}" th:value="${org.getId()}" th:text="${org.getName()}"
                                th:selected="(${orgId} == ${org.getId()})"></option>
                    </select>
                </div>
            </div>-->
            <div class="col-md-4 select-display" th:if="${session.role == 'SAAS ADMIN'}">
                <div class="form-group">
                    <label> Select Organization </label>
                    <select class="select-items form-control" name="orgList" id="orgList" th:value="${orgList}">
                        <option value="">Select an organization</option>
                        <option th:each="org : *{orgList}" th:value="${org.getId()}"
                                th:text="${org.getName()}"  th:selected="(${orgId} == ${org.getId()})"></option>
                    </select>
                </div>
            </div>
            <!---->
            <div class="col-md-4 select-display" th:if="${session.role == 'ORG ADMIN'}">
                <div class="form-group">
                    <label> Select Sub-organization </label>
                    <select class="select-items form-control" name="orgList" id="subOrgList" th:value="${subOrgList}">
                        <option value="">Select an Sub-organization</option>
                        <option th:each="org : *{subOrgList}" th:value="${org.getId()}"
                                th:text="${org.getName()}"  th:selected="(${subOrgId} == ${org.getId()})"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="main-button">save</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>
<!--add-community Model  -->