<form name="add-user" id="add-user">
    <div class="popup-form">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>first name<sup class="r-star-sign">*</sup> </label>
                    <input type="text" class="form-control" name="firstName" id="firstName" th:value="${userData.getFirstName()}" disabled>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>last name<sup class="r-star-sign">*</sup> </label>
                    <input type="text" class="form-control" name="lastName" id="lastName" th:value="${userData.getLastName()}" disabled>
                    <input type="hidden" class="form-control" name="id" id="id" th:value="${id}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>email<sup class="r-star-sign">*</sup> </label>
                    <input type="text" class="form-control" name="email" id="email" th:value="${userData.getEmail()}" disabled>
                </div>
            </div>
            <!--<div class="col-md-4 select-display">
                <div class="form-group">
                    <label> Select Organization </label>
                    <select class="select-items form-control" name="orgList" id="orgList" th:value="${orgId}" disabled>
                        <option>Select an organization</option>
                        <option th:each="org : *{orgList}" th:value="${org.getId()}" th:text="${org.getName()}"
                                th:selected="(${orgId} == ${org.getId()})"></option>
                    </select>
                </div>
            </div>-->
            <div class="col-md-4 select-display" th:if="${session.role == 'SAAS ADMIN'}">
                <div class="form-group">
                    <label> Organization </label>
                    <select class="select-items form-control" name="orgList" id="orgList" th:value="${orgList}" disabled>
                        <option value="">Select an organization</option>
                        <option th:each="org : *{orgList}" th:value="${org.getId()}"
                                th:text="${org.getName()}" th:selected="(${orgId} == ${org.getId()})"></option>
                    </select>
                </div>
            </div>
            <!---->
            <div class="col-md-4 select-display" th:if="${session.role == 'ORG ADMIN'}">
                <div class="form-group">
                    <label> Sub-Organization </label>
                    <select class="select-items form-control" name="orgList" id="subOrgList" th:value="${subOrgList}" disabled>
                        <option value="">Select a Sub-organization</option>
                        <option th:each="org : *{subOrgList}" th:value="${org.getId()}"
                                th:text="${org.getName()}" th:selected="(${subOrgId} == ${org.getId()})"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>
<!--add-community Model  -->