<!-- Main content Start Here -->
<div layout:decorate="~{layout}" layout:fragment="content">
    <section class="content-header">
        <h1> approvals </h1>
    </section>
    <section class="content container-fluid table-box-control">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="search-tool">
                            <div class="input-group">
                                <input type="text" name="" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#" class="main-button add-right" data-toggle="modal" data-target="#add-area">
                             <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Organization
                         </a>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-theme approvals-table">
                            <tbody>
                            <tr>
                                <th>s.no</th>
                                <th>Organization Name</th>
                                <th>admin</th>
                                <th>Registered email</th>
                                <th>Status</th>
                                <th class="align-right">actions</th>
                            </tr>
                            <tr th:each="org,iter : *{orgList}">
                                <!-- <td>1</td>
                                 <td>RIL</td>
                                 <td>Brij Sen</td>
                                 <td>admin@reliancecommunities.com</td>
                                 <td>03</td>
                                 <td>20/11/2018</td>-->
                                <td th:text="${iter.index +1 }"></td>
                                <td th:text="${org.getName()}"></td>
                                <td th:text="${org.getRegisteredAdminName()}">Name</td>
                                <td th:text="${org.getRegisteredAdminEmail()}">admin@reliancecommunities.com</td>
                                <td th:if="${org.getIs_approved()} == -1">Rejected</td>
                                <td th:unless="${org.getIs_approved()} == -1">Pending</td>
                                <td>
                                    <div class="approval-button">
                                        <a href="javascript:void(0);"
                                           class="main-button gray-right reject-approve disabled"
                                           th:data-status="${org.getIs_approved()}"
                                           th:if="${org.getIs_approved()} == -1"
                                           disabled="true">
                                            <i class="fa fa-times" id="rejectLink1"></i>Rejected
                                        </a>
                                        <a th:href="@{'/org/reject/' + ${org.getId()}}"
                                           class="main-button gray-right reject-approve"
                                           th:data-status="${org.getIs_approved()}"
                                           th:unless="${org.getIs_approved()} == -1">
                                            <i class="fa fa-times" id="rejectLink"></i>Reject
                                        </a>
                                        <a th:href="@{'/org/setApproval/' + ${org.getId()}}"
                                           class="gray-button gray-right sucess-approve"> <i class="fa fa-check"
                                                                                             aria-hidden="true"></i>Approve
                                        </a>

                                        <a th:href="@{ '/org/show/' + ${org.getId()}}" class="gray-button gray-right">
                                            <i class="fa fa-eye"
                                               aria-hidden="true"></i>View</a>
                                    </div>
                                </td>

                            </tr>
                            <!--   <tr>
                                   <td>2</td>
                                   <td>KPM</td>
                                   <td>Anand Dixit</td>
                                   <td>admin@kpm.com</td>
                                   <td>02</td>
                                   <td>23/11/2018</td>
                                   <td>Pending</td>
                                   <td>
                                       <a href="#" class="main-button gray-right reject-approve"> <i class="fa fa-times" aria-hidden="true"></i>Reject</a>
                                       <a href="#" class="gray-button gray-right sucess-approve"> <i class="fa fa-check" aria-hidden="true"></i>Approve</a>
                                       <a href="#" class="gray-button gray-right"> <i class="fa fa-eye" aria-hidden="true"></i>View</a>
                                   </td>
                               </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="pagination-data-box">
                        <ul class="pagination">
                            <li><a href="#">Previous</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Main content End Here -->
