<!-- Main content Start Here -->
<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header">
            <h1>Edit Organization</h1>
        </section>
        <section class="content container-fluid form-box-control">
            <form th:action="@{'/org/update'}" th:method="PUT" enctype="multipart/form-data" id="organizationForm">
                <!--  Org Detail -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title">Organization Detail</h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Organization Name<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="orgName" id="orgName"
                                                       th:value="${org.getName()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Organization Abbrevation<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="orgAbb" id="orgAbb"
                                                       th:value="${org.getAbbreviations()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Address Line 1</label>
                                                <input type="text" class="form-control" name="address1" id="address1"
                                                       th:value="${org.getAddressLine1()}">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Address Line 2</label>
                                                <input type="text" class="form-control" name="address2" id="address2"
                                                       th:value="${org.getAddressLine2()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>city</label>
                                                <input type="text" name="city" id="city" th:value="${org.getCity()}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>State/Province/Region</label>
                                                <input type="text" class="form-control" name="state" id="state"
                                                       th:value="${org.getState()}">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Zip</label>
                                                <input type="text" class="form-control" name="zip" id="zip"
                                                       th:value="${org.getZipCode()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="select-items form-control" name="country" id="country">
                                                    <option th:value="${country.id}" th:each="country : ${countries}"
                                                            th:text="${country.country_name}"
                                                            th:if="${ country.id == org.getCountry() ? 'selected' : '' }"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control" name="phone" id="phone"
                                                       th:value="${org.getPhoneNumber()}">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label for="orgImg">Upload Image</label>
                                                <input type="text" id="orgImgName" name="orgImgName"
                                                       placeholder="Choose File" class="upload-input"
                                                       th:value="${org.getLogoImage()}" disabled>
                                                <input type="hidden" name="logo_image" id="logo_image"
                                                       th:value="${org.getLogoImage()}">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="orgImg" id="orgImg" type="file" class="upload"
                                                           value="Upload"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 preview-image">
                                            <img id="preview-image" th:src="@{ ${orgImageLocation} + ${org.getLogoImage()} }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Org Detail -->
                <!--  App Configuration -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading"><h3 class="box-title">App-Configurations</h3></div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>App name<sup class="r-star-sign">*</sup></label>
                                                <input type="text" class="form-control" name="appName" id="appName"
                                                       th:value="${org.getAppName()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>App URL<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="appUrl" id="appUrl"
                                                       th:value="${org.getAppUrl()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>API URL<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="apiUrl" id="apiUrl"
                                                       th:value="${org.getApiUrl()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  App Configuration -->
                <!--  Admin Detail -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading"><h3 class="box-title">Organization Admin (Group Admin) Details</h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>first name<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="firstName" id="firstName" th:value="${admin.firstName}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>last name<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="lastName" id="lastName"
                                                       th:value="${admin.lastName}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>email<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control" name="email" id="email"
                                                       th:value="${admin.email}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Password<sup class="r-star-sign">*</sup> </label>
                                                <input type="password" class="form-control" name="password" id="password"
                                                       th:value="${decryptedPassword}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Confirm Password<sup class="r-star-sign">*</sup> </label>
                                                <input type="password" class="form-control" name="confPassword"
                                                       id="confPassword" th:value="${decryptedPassword}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Admin Detail -->
                <!--  Product Permission -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading"><h3 class="box-title">SSO Settings</h3></div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group row clearfix">
                                                <label class="col-sm-4 col-form-label text-left">SSO Settings at</label>
                                                <div class="col-sm-8">
                                                    <div class="custom-radio">
                                                        <label>
                                                            <input name="isSsoEnabled" type="radio" value="1"
                                                                   class="minimal isSsoEnabled" id="orglevel"
                                                                   th:checked="${org.getIsSsoEnabled()} == 1 ? 'checked'">
                                                            Organization Level
                                                        </label>
                                                    </div>
                                                    <div class="custom-radio">
                                                        <label>
                                                            <input name="isSsoEnabled" type="radio" value="0"
                                                                   class="minimal isSsoEnabled" id="subOrglevel"
                                                                   th:checked="${org.getIsSsoEnabled()} == 0 ? 'checked'">
                                                            Sub-Organisation Level
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SSO URL<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control ssofields" name="ssourl" id="ssourl"
                                                       th:value="${org.getSsoUrl()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SSO Key<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control ssofields" name="ssokey" id="ssokey"
                                                       th:value="${org.getSsoKey()}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SSO Type<sup class="r-star-sign">*</sup> </label>
                                                <input type="text" class="form-control ssofields" name="ssotype" id="ssotype"
                                                       th:value="${org.getSsoType()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Product Permission -->
                <div class="row">
                    <div class="col-md-12 permisson-box">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title">Product Permissions</h3>
                                    </div>
                                </div>
                                <div class="section-contents">
                                    <div class="col-sm-6">
                                        <div class="inner-permisson caption">
                                            <div class="box-body rc-form-body">
                                                <div class="row">
                                                    <div class="heading-title-inner"> Content Types</div>
                                                    <div class="col-sm-6" th:each="content : ${contents}">
                                                        <div class="check-bottom">
                                                            <label class="custom-chk">
                                                                <input type="checkbox" class="minimal"
                                                                       th:value="${content.getId()}" name="content[]"
                                                                       th:if="${#lists.contains(availableContents,content.getId())}"
                                                                       checked="true">
                                                                <input type="checkbox" class="minimal"
                                                                       th:value="${content.getId()}" name="content[]"
                                                                       th:unless="${#lists.contains(availableContents,content.getId())}">
                                                                <span class="check-label" th:text="${content.getName()}"> Blogs </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inner-permisson caption">
                                            <div class="box-body rc-form-body">
                                                <div class="row">
                                                    <div class="heading-title-inner">Modules</div>
                                                    <div class="col-sm-6">
                                                        <div class="check-bottom">
                                                            <label class="custom-chk">
                                                                <input type="checkbox" class="minimal" name="features[]">
                                                                <span class="check-label">Gamification</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="check-bottom">
                                                            <label class="custom-chk">
                                                                <input type="checkbox" class="minimal" name="features[]">
                                                                <span class="check-label"> Multi-Lingual Support </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="check-bottom">
                                                            <label class="custom-chk">
                                                                <input type="checkbox" class="minimal" name="features[]">
                                                                <span class="check-label"> User-Analytics </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="check-bottom">
                                                            <label class="custom-chk">
                                                                <input type="checkbox" class="minimal" name="features[]">
                                                                <span class="check-label"> Moderation </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Other Permission -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="col-sm-12">
                                    <div class="heading">
                                        <h3 class="box-title">Other Permissions</h3>
                                    </div>
                                </div>
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row clearfix">
                                                <label class="col-sm-4 col-form-label text-left">Create additional
                                                    Sub-Organizations</label>
                                                <div class="col-sm-8">
                                                    <div class="custom-radio">
                                                        <label>
                                                            <input name="canCreateSubOrg" checked type="radio" value="1"
                                                                   class="minimal" id="canCreateSubOrgYES">Allowed
                                                        </label>
                                                    </div>
                                                    <div class="custom-radio">
                                                        <label>
                                                            <input name="canCreateSubOrg" type="radio" value="0"
                                                                   class="minimal" id="canCreateSubOrgNO">Not Allowed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 col-form-label">No. of Sub-Organisations</label>
                                                <div class="col-sm-4">
                                                    <div class="quantity">
                                                        <input type="number" max="9" min="1" name="orglimit" id="orglimit"
                                                               class="quantity-input"
                                                               th:value="${org.getSub_organization_limit()}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row clearfix">
                                                <label class="col-sm-4 col-form-label text-left">Create Communities</label>
                                                <div class="col-sm-8">
                                                    <div class="custom-radio">
                                                        <label>
                                                            <input name="canCreateCommunity" checked type="radio" value="1"
                                                                   class="minimal" id="canCreateCommunityYES">Allowed
                                                        </label>
                                                    </div>
                                                    <div class="custom-radio">
                                                        <label>
                                                            <input name="canCreateCommunity" type="radio" value="0"
                                                                   class="minimal" id="canCreateCommunityNO">Not Allowed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 col-form-label">No. of Communities</label>
                                                <div class="col-sm-4">
                                                    <div class="quantity">
                                                        <input name="limitComm" min="1" type="number" id="limitComm"
                                                               class="quantity-input"
                                                               th:value="${org.getCommunity_limit()}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!---->

                                    <div class="row">
                                        <div class="col-sm-6 org-num-box product-hierarchy">
                                            <div class="form-group row clearfix">
                                                <label class="col-sm-6 col-form-label">
                                                    No. of levels Allowed for Product hierarchy
                                                </label>
                                                <div class="col-sm-6">
                                                    <div class="quantity">
                                                        <input max="3" min="1" name="limitlevels" type="number" id="limitlevels"
                                                               class="quantity-input" value="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Other Permission -->
                <div class="col-sm-12 text-center">
                    <input type="hidden" name="orgId" th:value="${orgId}">
                    <button class="main-button m-right-10 submit" type="submit">SUBMIT</button>
                    <a class="cancel-button" href="javascript:void(0);" onclick="history.back();">Cancel</a>
                </div>
            </form>
        </section>
    </div>
    <script layout:fragment="inner-scripts" src="/assets/js/orgadmin.js" ></script>
</div>
