<div layout:decorate="~{layout}">
    <!-- Main content Start Here -->
    <div layout:fragment="content">
        <section class="content-header">
            <h1> Organization List </h1>
        </section>
        <section class="content container-fluid table-box-control">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="search-tool">
                                <form id="searchForm" name="searchForm">
                                    <div class="input-group">
                                        <input type="text" name="searchQuery" id="searchQuery" class="form-control"
                                               placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <a href="/org/create" class="main-button add-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Organization
                            </a>
                        </div>
                        <!-- /.box-header -->
                        <div class="col-sm-12">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-theme one-line-row" id="orgTable">
                                    <thead>
                                    <tr>
                                        <th>s.no</th>
                                        <th>Orgnization Name</th>
                                        <th>admin</th>
                                        <th>Registered email</th>
                                        <th>Sub-Organization Limit</th>
                                        <th>Created on</th>
                                        <th>Status <i class="help-question-status"> <a id="popoverData" href="#"
                                                                                       data-content="Popover with data-trigger Popover with data-triggerPopover with data-triggerPopover with data-triggerPopover with data-trigger"
                                                                                       data-placement="bottom"
                                                                                       data-original-title="Title"
                                                                                       data-trigger="hover"> <img
                                                src="assets/images/questions-circular.png"> </a> </i></th>

                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="org,iter : *{orgList}">
                                        <td th:text="${iter.index +1 }"></td>
                                        <td th:text="${org.getName()}"></td>
                                        <td th:text="${org.getRegisteredAdminName()}">Name</td>
                                        <td th:text="${org.getRegisteredAdminEmail()}"> admin@reliancecommunities.com
                                        </td>
                                        <td th:text="${org.getSub_organization_limit()}"> 03</td>
                                        <td th:text="${org.getCreatedAt()}"> 20/11/2018</td>
                                        <td>
                                            <div class="toggle-switch">
                                                <div class="switch-main">
                                                    <div class="switch">
                                                        <input type="radio" th:name="${org.getId()} + _status" value="1"
                                                               th:checked="(${org.getStatus()}==1)"
                                                               class="status"
                                                               th:data-id="${org.getId()}">
                                                        <span>Active</span>
                                                    </div>
                                                    <div class="switch">
                                                        <input type="radio" th:name="${org.getId()} + _status"
                                                               value="0"
                                                               th:checked="(${org.getStatus()}==0)"
                                                               class="status"
                                                               th:data-id="${org.getId()}">
                                                        <span>Inactive</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a th:href="@{ '/org/show/' + ${org.getId()}}" class="view-icon m-right-10"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a th:href="@{ '/org/edit/' + ${org.getId()}}" class="edit-icon m-right-10"><i
                                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <!--  <a href="javascript:void(0);"
                                                 th:onclick="|del('/org/delete/' + ${org.getId()})|"
                                                 class="delete-icon m-right-10"><i class="fa fa-trash-o"
                                                                                   aria-hidden="true"></i></a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <!-- <div class="pagination-data-box">
                             <span th:remove="tag" th:utext="${paginationLinks}"/>
                             &lt;!&ndash; <ul class="pagination">
                                  <li><a href="#">Previous</a></li>
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                  <li><a href="#">Next</a></li>
                              </ul>&ndash;&gt;
                         </div>-->
                        <!-------------------------------------->
                        <div class="pagination-div">
        <span th:if="${page.hasPrevious()}">
        <a th:href="@{/org(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
                            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                                <span th:unless="${page.number == i}">
             <a th:href="@{/org(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
                            </th:block>
                            <span th:if="${page.hasNext()}">
        <a th:href="@{/org(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
                        </div>
                        <!-------------------------------------->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Main content End Here -->
    <script th:inline="javascript" layout:fragment="inner-scripts">
        function del(url) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this organization!",
                type: "warning",
                confirmButtonText: 'Go Ahead',
                confirmButtonClass: 'confirm-btn',
                confirmButtonColor: "#34659f",
                cancelButtonText: 'Cancel',
                cancelButtonClass: 'cancel-btn',
                cancelButtonColor: "#dad6d6",
                showCancelButton: true
            }).then(function (result) {
                if (result.value) {
                    window.location.href = url;
                    /* $.ajax({
                         url:url,
                         type:"DELETE",
                         success:function(response){
                             swal("Success", "Organization deleted Successfully", "success").then(function(result){

                             });
                         }
                     });*/
                }
            });
        }

        $('.status').click(function () {
            var radioValue = $(this).val();
            var userId = ($(this).attr("data-id"));
            $.ajax({
                url: "/org/setActivation/" + userId + "/" + radioValue,
                type: "get",
                beforeSend: function (o, o1) {
                    $("#loader").show();
                },
                success: function (response) {
                    window.location.reload();

                }
            })
        });

        $('#searchForm').submit(
            function (event) {
                var searchQuery = $('#searchQuery').val();
                alert(searchQuery);
                $.ajax({
                    type: "GET",
                    dataType: "text",
                    url: '/search/org/' + searchQuery,
                    success: function (response) {
                        $("#orgTable > tbody").html(response);
                        alert(response);
                    },
                    error: function () {
                        alert("not working");
                    }
                });
                return false;
            });
    </script>
</div>