<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header">
            <h1>Add Content</h1>
        </section>
        <section class="content container-fluid edit-list-box">
            <form th:action="@{/content/store}" th:method="post" name="add-content" id="add-content">
                <div class="col-sm-12">
                    <div class="popup-form-title">General Settings</div>
                </div>
                <div class="col-md-6 select-display">
                    <div class="form-group">
                        <label>Content Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 margin-b15 blog-label-mob">
                    <label>Content Description</label>
                    <input type="text" name="description" id="description" class="form-control">
                </div>
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="edit-textarea-box">
                            <textarea id="jsonInput" autocomplete="off" name="jsonInput"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <button type="button" id="translate" class="main-button translate-button" style="vertical-align: middle;">
                            Validate
                        </button>
                    </div>
                    <div class="col-md-5">
                        <div class="edit-scroll-box">
                            <pre id="json-display"></pre>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="main-button" data-dismiss="modal">save</button>
                    <a class="cancel-button" href="javascript:void(0);" onclick="history.back();">Cancel</a>
                </div>
            </form>
        </section>
    </div>
    <script layout:fragment="inner-scripts">
        // get JSON
        function getJson() {
            try {
                return JSON.parse($('#jsonInput').val());
            } catch (ex) {
                alert('Wrong JSON Format: ' + ex);
            }
        }

        // initialize
        var editor = new JsonEditor('#json-display', getJson());

        // enable translate button
        $('#translate').on('click', function () {
            editor.load(getJson());
        });

    </script>
</div>