<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header">
            <h1>Content Type</h1>
        </section>
        <section class="content container-fluid edit-list-box">
            <form action="/content/update" th:method="PUT" id="orgContentEdit" name="orgContentEdit">
                <div class="row">
                    <div class="col-md-12">

                        <div class="box">
                            <div class="box-header">
                                <!-- /.box-header -->
                                <div class="row">
                                    <div class="col-md-12" th:if="!${session.role == 'SUBORG ADMIN'}">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name </label>
                                                <input type="text" class="form-control" name="name" id="name"
                                                       th:value="${content.name}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" name="description"
                                                       id="description" th:value="${content.description}">
                                            </div>
                                        </div>
                                        <div class="col-md-6 translate-center">
                                            <button type="button" id="translate" class="main-button translate-button">
                                                Validate
                                            </button>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="edit-textarea-box">
                                                <textarea id="jsonInput" autocomplete="off"
                                                          name="jsonInput"
                                                          th:text="${content.contentSetting}"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="edit-scroll-box">
                                                <pre id="json-display"></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" class="form-control" name="id" id="id" th:value="${content.id}">
                    <button class="main-button submit m-right-10" name="submitBtn" type="submit">save</button>
                    <a class="cancel-button" href="javascript:void(0);" onclick="history.back();" name="cancel">
                        Cancel </a>
                </div>
            </form>
        </section>
    </div>
    <script layout:fragment="inner-scripts">
        // get JSON
        function getJson() {
            try {
                return JSON.parse($('#jsonInput').val());
            } catch (ex) {
                alert('Wrong JSON Format: ' + ex);
            }
        }

        // initialize
        var editor = new JsonEditor('#json-display', getJson());

        // enable translate button
        $('#translate').on('click', function () {
            editor.load(getJson());
        });

    </script>

</div>


