<!-- Main content Start Here -->
<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header"><h1>Add Community </h1></section>
        <section class="content container-fluid addcommunity-detail-wrapper">
            <!--  Category  Levels  -->
            <div class="row">
                <div class="col-md-12">
                    <form role="form" action="/community/store" th:method="POST" enctype="multipart/form-data"
                          id="community" name="community">
                        <div class="box">
                            <div class="box-header">
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Enter Community title </label>
                                                <input type="text" class="form-control" name="title" id="title">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 select-display">
                                            <div class="form-group">
                                                <label> Select Community Type <sup class="r-star-sign">*</sup>
                                                </label>
                                                <select class="select-items form-control" name="categoryType"
                                                        id="categoryType" th:value="${categoryTypes}">
                                                    <option value="">Select a Type</option>
                                                    <option th:each="category : *{categoryTypes}"
                                                            th:value="${category.getId()}"
                                                            th:text="${category.getTitle()}"></option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-sm-4 select-display">
                                            <div class="form-group">
                                                <label> Select Department Mapped with Community </label>
                                                <select class="select-items form-control">
                                                    <option value=""> Select</option>
                                                    <option value=""> option 1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 addcomm-description">
                                            <div class="form-group">
                                                <label> description </label>
                                                <textarea id="description" name="description"> Describe the Community in less than 5000 characters. </textarea>
                                            </div>
                                        </div>


                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label> Cover Image <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" id="coverImgName" name="communityImgName"
                                                       placeholder="Choose File"
                                                       class="upload-input">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="communityImg" id="coverImg" type="file"
                                                           class="upload" value="Upload"/>
                                                </div>
                                            </div>
                                            <span class="max-limit"> Maximum size limit is 5 mb </span>
                                            <div class="row">
                                                <div class="col-sm-4 preview-image">
                                                    <img id="preview-image1" src="http://placehold.it/80x80">
                                                </div>
                                            </div>
                                        </div>


                                        <!------------------------------------------------------------------------>

                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label> Banner Image <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" id="bannerImgName" name="communityImgName"
                                                       placeholder="Choose File"
                                                       class="upload-input">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="communityImg" id="bannerImg" type="file"
                                                           class="upload" value="Upload"/>
                                                </div>
                                            </div>
                                            <span class="max-limit"> Maximum size limit is 5 mb </span>
                                            <div class="row">
                                                <div class="col-sm-4 preview-image">
                                                    <img id="preview-image2" src="http://placehold.it/80x80">
                                                </div>
                                            </div>
                                        </div>

                                        <!------------------------------------------------------------------------>


                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label> SVG Image <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" id="SvgImgName" name="communityImgName"
                                                       placeholder="Choose File"
                                                       class="upload-input">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="communityImg" id="SvgImg" type="file"
                                                           class="upload" value="Upload"/>
                                                </div>
                                            </div>
                                            <span class="max-limit"> Maximum size limit is 5 mb </span>
                                            <div class="row">
                                                <div class="col-sm-4 preview-image">
                                                    <img id="preview-image3" src="http://placehold.it/80x80">
                                                </div>
                                            </div>
                                        </div>

                                        <!------------------------------------------------------------------------->
                                        <div class="col-md-12">
                                            <div class="divider"></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Select Community Admins </label>
                                                <input type="text" class="form-control" name="" id="">
                                            </div>
                                            <div class="select-comm-admin">
                                                <div class="human-srh-result">
                                                    <span class="r-pic">
                                                        <img src="/assets/images/dashboard-icon/user-icon.jpg">
                                                    </span>
                                                    <span class="r-title"> <a
                                                            href="#"> Abhishek Chhajlani </a> </span>
                                                    <span class="r-desc">  HR - Governance & Integration & HR Platform </span>
                                                    <div class="form-group r-check">
                                                        <label>
                                                            <input type="checkbox" class="minimal" checked>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="human-srh-result">
                                                    <span class="r-pic">
                                                        <img src="/assets/images/dashboard-icon/user-icon.jpg">
                                                    </span>
                                                    <span class="r-title">  Abhishek Chhajlani </span>
                                                    <span class="r-desc">  HR - Governance & Integration & HR Platform </span>
                                                    <div class="form-group r-check">
                                                        <label><input type="checkbox" class="minimal"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> Add members to Community </label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="import_user"
                                                           id="import_user">
                                                    <div class="inner-toggle">
                                                        <a th:onclick="|getResponse();|" href="javascript:void(0);"
                                                           class="dropdown-toggle"> Import </a>
                                                        <!--<div class="dropdown-menu"
                                                             aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="#">Member by
                                                                Department</a>
                                                            <a class="dropdown-item" href="#">Member by
                                                                Location </a>
                                                            <a class="dropdown-item" href="#"> All Members </a>
                                                        </div>-->
                                                    </div>
                                                    <ul class="selectv2">
                                                        <li> Archit Kothari <i class="fa fa-times"
                                                                               aria-hidden="true"></i></li>
                                                        <li> Amit Kothari <i class="fa fa-times"
                                                                             aria-hidden="true"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group add-comm-radio">
                                                <label class="type"> Type: </label>
                                                <!--  <div class="toggle-switch">
                                                      <div class="switch-main">
                                                          <div class="switch">
                                                              <input type="radio" name="status" value="1" checked>
                                                              <span>Open</span>
                                                          </div>
                                                          <div class="switch">
                                                              <input type="radio" name="status" value="0">
                                                              <span>Closed</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>-->

                                                <div class="custom-radio cumm-type">
                                                    <label>
                                                        <input name="isPrivate" checked type="radio" value="1"
                                                               class="minimal" id="visible"> Closed
                                                    </label>
                                                </div>
                                                <div class="custom-radio cumm-type">
                                                    <label>
                                                        <input name="isPrivate" type="radio" value="0" class="minimal"
                                                               id="invisible">Open
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Mapping Start Here -->
                                        <div class="col-sm-12"
                                             th:if="${session.role == 'ORG ADMIN' or session.role == 'SAAS ADMIN'}">
                                            <div class="row">
                                                <!-------------------------------->

                                                <div class="col-sm-12 margin-b15">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-sm-3">
                                                                <label> <strong> Map Sub-organizations: </strong>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="custom-chk">
                                                                    <input type="checkbox" class="minimal" checked>
                                                                    <span class="check-label"> all </span>
                                                                </label>
                                                                <label class="custom-chk">
                                                                    <input type="checkbox" class="minimal">
                                                                    <span class="check-label"> specific </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!------------------------------------->
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label> Select Sub Organization </label>
                                                        <select class="form-control" id="subOrg" th:value="${subOrgs}">
                                                            <option value="">Select</option>
                                                            <option th:each="subOrg : *{subOrgs}"
                                                                    th:value="${subOrg.getId()}"
                                                                    th:text="${subOrg.getName()}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="add-remove">
                                                    <button class="main-button m-right-10" type="button"
                                                            id="addCommunity" onclick="addSubOrg();">
                                                        add <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="clearfix"></div>
                                                    <button class="main-button" type="button" id="removeCommutnity"
                                                            onclick="removeSubOrg();">
                                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>remove
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 add-remove-comm">
                                                    <div class="form-group">
                                                        <ul id="list-container">
                                                          <!--  <li>Reliance Trends<input type="hidden"
                                                                                      class="form-control"
                                                                                      name="suborgId[]" id="1"
                                                                                      placeholder="" value="190">
                                                            </li>
                                                            <li>Reliance Communities<input type="hidden"
                                                                                           class="form-control"
                                                                                           name="suborgId[]"
                                                                                           id="2" placeholder=""
                                                                                           value="271">
                                                            </li>
                                                            <li>JIO<input type="hidden" class="form-control"
                                                                          name="suborgId[]"
                                                                          id="3" placeholder="" value="279"></li>-->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Mapping End Here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button class="main-button submit m-right-10" type="submit">Submit</button>
                            <a class="cancel-button" href="javascript:void(0);" onclick="history.back();">
                                Cancel </a>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- Main content End Here -->
    <!-- ./wrapper -->
    <!-- add-community Popup start Here  -->
    <div layout:fragment="modal-popup" id="add-comm-popup" class="modal fade popup-theme" role="dialog">
        <div class="big-model add-community-popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Add Community </h4>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel-default">
                        <div class="modal-body panel-body">
                            <div class="popup-form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="col-md-12 member-import">
                                            <div class="row">
                                                <div class="popup-form-title-inner"> Import Members by Department
                                                </div>
                                            </div>
                                            <div class="member-list">
                                                <div class="member-inner-list">
                                                    <span class="title"> <a href="#"> Human Resources </a>   </span>
                                                    <span class="number">  250 Members </span>
                                                </div>
                                                <div class="member-inner-list">
                                                    <span class="title">  Talent Aquisetion </span>
                                                    <span class="number">  186 Members </span>
                                                </div>
                                                <div class="member-inner-list">
                                                    <span class="title">  Petroleum </span>
                                                    <span class="number">  345 Members </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 member-import">
                                            <div class="row">
                                                <div class="popup-form-title-inner"> Import Members by Location
                                                </div>
                                            </div>
                                            <div class="member-list">
                                                <div class="member-inner-list">
                                                    <span class="title"> <a href="#"> Mumbai  </a>   </span>
                                                    <span class="number">  250 Members </span>
                                                </div>
                                                <div class="member-inner-list">
                                                    <span class="title">  Delhi </span>
                                                    <span class="number">  186 Members </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="popup-form-title-inner"> Human Resources</div>
                                            </div>
                                            <div class="human-filter-search">
                                                <div class="search-tool">
                                                    <div class="input-group">
                                                        <input type="text" name="" class="form-control"
                                                               placeholder="Type name to filter">
                                                        <div class="input-group-btn">
                                                            <button type="submit" class="btn btn-default"><i
                                                                    class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group s-all">
                                                    <span> SELECT ALL </span>
                                                    <label>
                                                        <input type="checkbox" class="minimal" checked>
                                                    </label>
                                                </div>
                                                <div class="human-result-scroll" id="user-list-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="main-button" data-dismiss="modal">Create</button>
                <button type="button" class="preview-button" data-dismiss="modal">preview</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
    <script layout:fragment="inner-scripts" src="/assets/js/community.js"></script>
    <!-- add-community Popup End Here  -->
</div>
	  
