<!-- Main content Start Here -->
<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header"><!--<h1>Org-Level Communities</h1>--></section>
        <section class="content container-fluid addcomrmunity-main-wrapper">
            <!--  Add Community   -->
            <div class="row">
                <div class="col-md-12 saas-level-table">
                    <div class="box">
                        <div class="box-header">
                            <div class="col-sm-12">
                                <div class="heading" th:if="${canCreateCommunity} == '1' ">
                                    <h3 class="box-title">Communities </h3>
                                    <a href="/community/create" class="main-button add-right">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        Add Community
                                    </a>
                                </div>
                            </div>
                            <form role="form" action="">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table table-theme">
                                                    <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Communities</th>
                                                        <th>Type</th>
                                                        <th>Community Type ID</th>
                                                        <th>Created At</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="category,iter : *{categoryList}">
                                                        <td th:text="${iter.index +1 }"></td>
                                                        <td th:text="${category.getTitle()}"></td>
                                                        <td th:text="${category.getIsPrivate()==1 ? 'Closed' : 'Open'}"/>
                                                        <td th:text="${category.getCategoryTypeId()}"></td>
                                                        <td th:text="${category.getCreatedAt()}"></td>
                                                        <td>
                                                            <div class="toggle-switch">
                                                                <div class="switch-main">
                                                                    <div class="switch">
                                                                        <input type="radio"
                                                                               th:name="${category.getId()} + _status"
                                                                               value="1"
                                                                               th:checked="(${category.getStatus()}==1)"
                                                                               class="status"
                                                                               th:data-id="${category.getId()}">
                                                                        <span>Active</span>
                                                                    </div>
                                                                    <div class="switch">
                                                                        <input type="radio"
                                                                               th:name="${category.getId()} + _status"
                                                                               value="0"
                                                                               th:checked="(${category.getStatus()}==0)"
                                                                               class="status"
                                                                               th:data-id="${category.getId()}">
                                                                        <span>Inactive</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="align-right">
                                                            <a th:href="@{ '/community/edit/' + ${category.getId()}}"
                                                               class="edit-icon m-right-10"><i
                                                                    class="fa fa-pencil-square-o"
                                                                    aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:inline="javascript" layout:fragment="inner-scripts">

        $('.status').click(function () {
            var radioValue = $(this).val();
            var categoryId = ($(this).attr("data-id"));
            $.ajax({
                url: "/category/setActivation/" + categoryId + "/" + radioValue,
                type: "get",
                beforeSend: function (o, o1) {
                    $("#loader").show();
                },
                success: function (response) {
                    window.location.reload();

                }
            })
        });

    </script>
</div>
<!-- Main content End Here -->
