<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header">
            <h1>Languages</h1>
            <div class="col-sm-2 heading-top-right">
                <a href="#" class="main-button add-right" th:onclick="|add('Language');|">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Language
                </a>
            </div>
        </section>
        <section class="content container-fluid table-box-control">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-theme">
                                <tbody>
                                <tr>
                                    <!-- <th> &nbsp;</th>-->
                                    <th> Select Language</th>
                                    <th>Status</th>

                                    <th class="align-right"> actions</th>
                                </tr>
                                <!------------------------------------------------------------------------------>
                                <tr th:each="language,iter: *{languageList}">
                                    <!--<td>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" class="minimal">
                                            </label>
                                        </div>
                                    </td>-->
                                    <td th:text="${language.getName()}"></td>
                                    <td>
                                        <div class="toggle-switch">
                                            <div class="switch-main">
                                                <div class="switch">
                                                    <input type="radio" th:name="${language.getId()} + _status"
                                                           value="1"
                                                           th:checked="(${language.getStatus()}==1)"
                                                           class="status"
                                                           th:data-id="${language.getId()}">
                                                    <span>Active</span>
                                                </div>
                                                <div class="switch">
                                                    <input type="radio" th:name="${language.getId()} + _status"
                                                           value="0"
                                                           th:checked="(${language.getStatus()}==0)"
                                                           class="status"
                                                           th:data-id="${language.getId()}">
                                                    <span>Inactive</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-right">
                                        <a th:href="@{'/language/edit/' + ${language.getId()}}"
                                           class="edit-icon m-right-10">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!------------------------------------------------------------------------------>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div layout:fragment="modal-popup">
        <div id="add-language" class="modal fade popup-theme add-language-pp" role="dialog">
            <div class="big-model">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modal-title"> Add Language </h4>
                    </div>
                    <div class="modal-body" id="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script layout:fragment="inner-scripts">

        function edit(url, name, id) {
            $.ajax({
                url: url,
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Edit " + name);
                    $("#modal-body").html(response);
                    $("#add-language").modal("show");
                }
            });
        }

        function add(name) {
            $.ajax({
                url: "/langage/create",
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Add " + name);
                    $("#modal-body").html(response);
                    $("#add-language").modal("show");
                }
            });
        }

        $(document).ready(function () {
            $('#add-language').on('show.bs.modal', function (event) {
                $("input[type='file']").on("change", function (e) {
                    $("#uploadLanguage").attr("placeholder", e.target.files[0].name);
                    $("#uploadLanguage").val(e.target.files[0].name);
                });
            });
        });

        $('.status').click(function () {
            var radioValue = $(this).val();
            var languageId = ($(this).attr("data-id"));
            $.ajax({
                url: "/language/setActivation/" + languageId + "/" + radioValue,
                type: "get",
                beforeSend: function (o, o1) {
                    $("#loader").show();
                },
                success: function (response) {
                    window.location.reload();

                }
            })
        });
    </script>
</div>


