<form th:action="@{/badges/store}" th:method="POST" enctype="multipart/form-data" name="add-badges" id="add-badges">
    <div class="popup-form ">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group file-upload-box">
                    <label for="badgeImg">Upload Image</label>
                    <input type="text" id="badgeImgName" name="badgeImgName" placeholder="Choose File"
                           class="upload-input">
                    <div class="fileUpload upload-button">
                        <span>Upload</span>
                        <input name="badgeImg" id="badgeImg" type="file" class="upload" value="Upload"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>description</label>
                    <textarea name="description" id="description"></textarea>
                </div>
            </div>
            <div class="col-sm-6 preview-image">
                <img id="preview-image" src="http://placehold.it/80x80">
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Level name</label>
                    <input type="text" class="form-control" name="level_name" id="level_name">
                </div>
            </div>
            <div class="col-sm-12 add-lavel-budge">
                <div class="form-group row clearfix">
                    <label class="col-sm-2 col-form-label">Level value</label>
                    <div class="">
                        <a href="#" id="addMore" value="Add" class="main-button" data-count="1"
                           data-target="#level_set">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                        </a>
                    </div>
                    <div class="col-sm-8" id="level_set">
                        <div class="level-container">
                            <div class="quantity">
                                <input type="number" name="level_value[]" id="level_value" class="quantity-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 awarded">
                <div class="form-group row clearfix">
                    <label class="col-sm-6 col-form-label text-left">Awarded Automatically</label>
                    <div class="col-sm-6">
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isAutomatic" value="1" class="minimal" id="isAutomaticYes"
                                       checked>yes
                            </label>
                        </div>
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isAutomatic" value="0" class="minimal" id="isAutomaticNo"> no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-6 col-form-label text-left">Awarded by other users</label>
                    <div class="col-sm-6">
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToPeer" value="1" class="minimal" id="isPeerToPeerYes"
                                       checked> yes
                            </label>
                        </div>
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToPeer" value="0" class="minimal" id="isPeerToPeerNo">
                                no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-6 col-form-label text-left">Awarded by admin</label>
                    <div class="col-sm-6">
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToAdmin" value="1" class="minimal" id="isPeerToAdminYes"
                                       checked> yes
                            </label>
                        </div>
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToAdmin" value="0" class="minimal" id="isPeerToAdminNo">
                                no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Pop-up message</label>
                    <textarea name="popMsg" id="popMsg"></textarea>
                </div>
            </div>
            <!--  <div class="col-sm-6">
                  <div class="form-group">
                      <label>DashBoard message</label>
                      <textarea name="dashBoardMsg" id="dashBoardMsg"></textarea>
                  </div>
              </div>-->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Code</label>
                    <textarea name="code" id="code"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
            <!------------------->

            <div class="form-group">
                <label>DashBoard Message<i class="help-question-status"> <a id="popoverData" href="#"
                                                                            data-content="Popover with data-trigger Popover with data-triggerPopover with data-triggerPopover with data-triggerPopover with data-trigger"
                                                                            data-placement="bottom"
                                                                            data-original-title="Title"
                                                                            data-trigger="hover"> <img
                        src="assets/images/questions-circular.png"> </a> </i> </label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Badge Message</label>
                    <textarea name="dashboardBadge" id="dashboardBadge"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Next Level Message</label>
                    <textarea name="dashboardNext" id="dashboardNext"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>On Completion Message</label>
                    <textarea name="dashboardCompletion" id="dashboardCompletion"></textarea>
                </div>
            </div>
            <!------------------->
            <div class="modal-footer">
                <button type="submit" class="main-button">save</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>


<!--add-community Model  -->