<form th:action="@{/badges/update}" th:method="PUT" enctype="multipart/form-data" name="add-badges" id="add-badges">
    <div class="popup-form ">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="name" th:value="${badge.title}" id="name">
                    <input type="hidden" class="form-control" name="id" th:value="${badge.id}" id="id">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group file-upload-box">
                    <label for="badgeImg">Upload Image</label>
                    <input type="text" id="badgeImgName" name="badgeImgName" placeholder="Choose File"
                           class="upload-input">
                    <div class="fileUpload upload-button">
                        <span>Upload</span>
                        <input name="badgeImg" id="badgeImg" type="file" class="upload" value="Upload"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>description</label>
                    <textarea name="description" id="description" th:text="${badge.description}"></textarea>
                </div>
            </div>
            <div class="col-sm-6 preview-image">
                <img id="preview-image" src="http://placehold.it/80x80" th:src="@{${badge.getImage()}}">
                <input type="hidden" name="badgeImgExisiting" id="badgeImgExisiting" th:value="${badge.getImage()}">
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Level name</label>
                    <input type="text" class="form-control" name="level_name" th:value="${level?.name}" id="level_name">
                </div>
            </div>
            <div class="col-sm-12 add-lavel-budge">
                <div class="form-group row clearfix">
                    <label class="col-sm-2 col-form-label">Level value</label>
                    <div class="">
                        <a href="#" id="addMore" value="Add" class="main-button" data-count="1"
                           data-target="#level_set">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                        </a>
                    </div>
                    <div class="col-sm-8" id="level_set">
                        <div class="level-container" th:each="count,iter : ${level?.counter}"
                             th:id="${'level-container_' + iter.count }">
                            <div class="quantity">
                                <input type="number" name="level_value[]" id="level_value" th:value="${count}"
                                       class="quantity-input">
                            </div>
                            <a href="javascript:void(0)" th:if="${iter.count > 1}"
                               th:onclick="|remove('${'#level-container_' + iter.count}')|" class="remove_field"><i
                                    class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 awarded">
                <div class="form-group row clearfix">
                    <label class="col-sm-6 col-form-label text-left">Awarded Automatically</label>
                    <div class="col-sm-6">
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isAutomatic" value="1" class="minimal" id="isAutomaticYes"
                                       th:checked="${badge.isAutomatic} == 1">yes
                            </label>
                        </div>
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isAutomatic" value="0" class="minimal" id="isAutomaticNo"
                                       th:checked="${badge.isAutomatic} == 0"> no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-6 col-form-label text-left">Awarded by other users</label>
                    <div class="col-sm-6">
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToPeer" value="1" class="minimal" id="isPeerToPeerYes"
                                       th:checked="${badge.isPeerToPeer} == 1"> yes
                            </label>
                        </div>
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToPeer" value="0" class="minimal" id="isPeerToPeerNo"
                                       th:checked="${badge.isPeerToPeer} == 0">
                                no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-6 col-form-label text-left">Awarded by admin</label>
                    <div class="col-sm-6">
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToAdmin" value="1" class="minimal" id="isPeerToAdminYes"
                                       th:checked="${badge.isAdminToPeer} == 1"> yes
                            </label>
                        </div>
                        <div class="custom-radio">
                            <label>
                                <input type="radio" name="isPeerToAdmin" value="0" class="minimal" id="isPeerToAdminNo"
                                       th:checked="${badge.isAdminToPeer} == 0">
                                no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Pop-up message</label>
                    <textarea name="popMsg" id="popMsg" th:text="${badge.popupMsg}"></textarea>
                </div>
            </div>
            <!---->
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
            <!------------------->

            <div class="form-group">
                <label>DashBoard Message</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Badge Message</label>
                    <textarea name="dashboardBadge" id="dashboardBadge" th:text="${badge.dashboardBadge}"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Next Level Message</label>
                    <textarea name="dashboardNext" id="dashboardNext" th:text="${badge.dashboardNextLevel}"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>On Completion Message</label>
                    <textarea name="dashboardCompletion" id="dashboardCompletion"
                              th:text="${badge.dashboardOnCompletion}"></textarea>
                </div>
            </div>
            <!------------------->
            <div class="modal-footer">
                <button type="submit" class="main-button">save</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>
<!--add-community Model  -->