
         <!-- Main content Start Here -->
         <div class="content-wrapper">
            <section class="content-header">
               <h1>
                  General Settings
               </h1>
            </section>
            <section class="content container-fluid gen-setting-wrapper">
                
               <div class="row">
                  <div class="col-md-12">
                     <div class="box">
                        <div class="box-header">
                           <div class="box-body rc-form-body">
                              <div class="row">
                                 <div id="exTab1" class="gen-setting-tab">
                                    <ul class="nav nav-pills">
                                       <li > <a href="#1a" class="active" data-toggle="tab">Fab</a> </li>
                                       <li> <a href="#2a" data-toggle="tab">Landing Page</a> </li>
                                    </ul>
                                    <div class="tab-content clearfix">
                                       <div class="tab-pane active" id="1a">
                                          <div class="row">
                                             <div class="col-md-4 gensetting-main-box">
                                                <ul id="wrap" class="wrap">
                                                   <li>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <div class="general-set-edit" style="display:block;">
                                                         <div class="row">
                                                            <div class="col-md-3">
                                                               <div class="form-group">
                                                                  <label> Title 1  </label>
                                                                  <input type="text" class="form-control text-view" name="" id="" value="Text 1" >
                                                               </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Type  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Icon Color Picker  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <button type="button" class="gen-setting-ok main-button"> OK  </button>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <!-- ***************General Setting Label Box************ -->
                                                      <div class="gen-set-labelbox" style="">
                                                         <div class="general-set-label">
                                                            <div class="icon-bg" style="background:#41961f;">
                                                               <img src="assets/images/poll-topic.png"> 
                                                            </div>
                                                            <label> Start a poll </label>
                                                         </div>
                                                        
                                                      </div>
                                                      <!-- ***************General Setting Label Box************ -->
                                                   </li>
												   <li>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <div class="general-set-edit" style="display:block;">
                                                         <div class="row">
                                                            <div class="col-md-3">
                                                               <div class="form-group">
                                                                  <label> Title 2  </label>
                                                                  <input type="text" class="form-control text-view" name="" id="" value="Text 1" >
                                                               </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Type  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Icon Color Picker  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <button type="button" class="gen-setting-ok main-button"> OK  </button>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <!-- ***************General Setting Label Box************ -->
                                                      <div class="gen-set-labelbox" style="">
                                                         <div class="general-set-label">
                                                            <div class="icon-bg" style="background:#ce8512;">
                                                               <img src="assets/images/poll-topic.png"> 
                                                            </div>
                                                            <label> Write a blog </label>
                                                         </div>
                                                        
                                                      </div>
                                                      <!-- ***************General Setting Label Box************ -->
                                                   </li>
												   <li>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <div class="general-set-edit" style="display:block;">
                                                         <div class="row">
                                                            <div class="col-md-3">
                                                               <div class="form-group">
                                                                  <label> Title 3  </label>
                                                                  <input type="text" class="form-control text-view" name="" id="" value="Text 1" >
                                                               </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Type  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Icon Color Picker  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <button type="button" class="gen-setting-ok main-button"> OK  </button>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <!-- ***************General Setting Label Box************ -->
                                                      <div class="gen-set-labelbox" style="">
                                                         <div class="general-set-label">
                                                            <div class="icon-bg" style="background:#dd4b39;">
                                                               <img src="assets/images/poll-topic.png"> 
                                                            </div>
                                                            <label> Start a discussion </label>
                                                         </div>
                                                        
                                                      </div>
                                                      <!-- ***************General Setting Label Box************ -->
                                                   </li>
												   <li>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <div class="general-set-edit" style="display:block;">
                                                         <div class="row">
                                                            <div class="col-md-3">
                                                               <div class="form-group">
                                                                  <label> Title 4  </label>
                                                                  <input type="text" class="form-control text-view" name="" id="" value="Text 1" >
                                                               </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Type  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <label>  Icon Color Picker  </label>
                                                               <select class="form-control">
                                                                  <option value=""> Yes </option>
                                                                  <option value=""> No </option>
                                                               </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                               <button type="button" class="gen-setting-ok main-button"> OK  </button>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <!-- ***************General Setting Edit Box************ -->
                                                      <!-- ***************General Setting Label Box************ -->
                                                      <div class="gen-set-labelbox" style="">
                                                         <div class="general-set-label">
                                                            <div class="icon-bg" style="background:#3c8dbc;">
                                                               <img src="assets/images/poll-topic.png"> 
                                                            </div>
                                                            <label> Schedule an event </label>
                                                         </div>
                                                        
                                                      </div>
                                                      <!-- ***************General Setting Label Box************ -->
                                                   </li>
                                                  
                                                   <div class="gen-setting-close"> <a href="#"> <img src="assets/images/close-icon.png"> </a>   </div>
                                                </ul>
                                             </div>
                                          </div>
										  <div class="col-sm-4 text-center">
											 <button class="main-button submit m-right-10" name="submitBtn" type="submit">Submit</button>
											 <a class="cancel-button" href="" name="cancel"> Cancel </a>
										  </div>
                                       </div>
                                       <div class="tab-pane" id="2a">
                                          <div class="row">
                                             <div class="col-md-4">
                                                <div class="row">
                                                   <div class="col-sm-12 landing">
                                                      <div class="form-group">
                                                         <label >Min. AOIs to be Subscribe </label>
                                                         <input type="text" class="form-control" name="" id="">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
										   <div class="col-sm-4 text-center">
											 <button class="main-button submit m-right-10" name="submitBtn" type="submit">Submit</button>
											 <a class="cancel-button" href="" name="cancel"> Cancel </a>
										  </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>
              
            </section>
         </div>
         <!-- Main content End Here -->
         <!-- Main Footer -->
         <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018</strong> All rights reserved.
         </footer>
         <div class="control-sidebar-bg"></div>
      </div>
      <!-- ./wrapper -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/bootstrap.js"></script>	
      <script src="assets/js/adminlte.js"></script>
      <script src="assets/js/icheck.js"></script>
      <script src="assets/js/custom.js"></script>
      <script src="assets/js/jquery.nice-select.js"></script>
      <script src="assets/js/drag-sort.js"></script>  <!-- Drag Sorting JS -->
      <script type="text/javascript">
	  //General Setting Drag Sorting js
	  $('#wrap').dragSort({
				replaceStyle: {
					
					'border': '3px dashed #3c82d5'
				},
				dragStyle: {
					'position': 'fixed',
					'background-color': '#34659f',
					'color':'#fff',
					'font-size':'11px',
					'line-height':'23px'
					
				}
		});
	  </script>
	  </body>
</html>