<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Reliance Communities</title>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <link rel="shortcut icon" href="assets/images/favicon.ico" />
      <link rel="stylesheet" href="assets/css/AdminLTE.css">
      <link rel="stylesheet" href="assets/css/font-awesome.css">
      <link rel="stylesheet" href="assets/css/login.css">
      <!-- Google Font -->
      <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
   </head>
   <body>
      <div class="authentication_page">
         <div class="page_inner">
            <div class="login_left">
               <div class="left_inner">
                  <div class="over_block">
                     <div class="center-block">
                        <img src="assets/images/admin-logo.png" alt="logo" class="img-fluid logo">
                        <form action="/login" id="login" method="post">
                           <div class="ln-3-content">
                              <label style="color: red;font-size: larger;"
                                     th:if="${error}"th:text="${error}"></label>
                              <h3>Sign In</h3>
                              <!-- class="danger-msg" for error-->
                              <!--<div class="success-msg">-->
                                 <!--<a href="#" class="close-btn" data-dismiss="alert" aria-label="close" title="close">×</a>-->
                                 <!--<strong> Sucess Message </strong>This alert box-->
                              <!--</div>-->
                              <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-user mr-3"></i></span>
                                 <input type="text" id="email" name="email" class="login-input" placeholder="Email">
                                 <!--<span class="login-error"> This files is required  </span>-->
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-lock mr-3"></i></span>
                                 <input type="password" id="password" name="password" class="login-input" placeholder="Password">
                              </div>
                              <button name="submitBtn" type="submit" class="btn ln-3-btn" > LOGIN </button>
                              <span class="sign-up-account">Not registered ? <a href="/signup">Create an account</a></span>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/bootstrap.js"></script>
      <script src="assets/js/adminlte.js"></script>
   </body>
</html>