<!-- Main content Start Here -->
<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header">
            <h1>Content Moderation</h1>
        </section>
        <section class="content container-fluid blog-wrapper">
            <!--
                        <form role="form" action="">
            -->
            <form role="form" action="/moderation/content/store" method="post" id="contentModeration"
                  name="contentModeration">
                <div class="row">
                    <input type="hidden" name="id" id="id" th:value="${id}">

                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">

                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <!--<div class="col-sm-12 margin-b15">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Type</label>
                                                        <select class="select-items form-control" name="type" id="type">
                                                            <option value="">Select a type</option>
                                                            <option th:each="category : *{categoryTypes}"
                                                                    th:value="${category.getId()}"
                                                                    th:text="${category.getTitle()}"></option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="col-sm-12 margin-b15 ac-mob">
                                            <div class="row">
                                                <input type="hidden" name="isAOI" id="isAOI" value="1">
                                                <div class="form-group">
                                                    <div class="col-sm-3 ac-mob-interest">
                                                        <label> <strong> Set moderation for: </strong> </label>
                                                    </div>
                                                    <div class="col-sm-4 ac-mob-interest">
                                                        <label class="custom-chk">
                                                            <input type="checkbox" class="minimal communities"
                                                                   name="allCommunities"
                                                                   id="allCommunities" value="1">
                                                            <span class="check-label"> all Communities </span>
                                                        </label>
                                                        <label class="custom-chk">
                                                            <input type="checkbox" class="minimal communities" checked
                                                                   id="specific"
                                                                   name="allCommunities" value="0">
                                                            <span class="check-label"> specific </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--select starts-->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-4 add-remove-selected">
                                                    <div class="form-group">
                                                        <label> </label>
                                                        <select class="form-control" id="categoryId"
                                                                name="categoryId">
                                                            <option value="">Select a community</option>
                                                            <option th:each="category : *{categoryList}"
                                                                    th:value="${category.getId()}"
                                                                    th:text="${category.getTitle()}"
                                                                    th:selected="(${selectedCategory}==${category.getId()})"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 margin-b15">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Level</label>
                                                        <select class="select-items form-control" name="numberOfLevel"
                                                                id="numberOfLevel">
                                                            <option value="">Select no of levels</option>
                                                            <option value="1"> 1</option>
                                                            <option value="2"> 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 blog-approvel-lebel">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label> level 1: </label>
                                                                <select class="select-items form-control"
                                                                        name="level1RoleId"
                                                                        id="level1RoleId">
                                                                    <option value="">Select a role</option>
                                                                    <option th:each="role : *{moderatorRoles}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getName()}"
                                                                            th:selected="(${moderatedByLevel}==${role.getId()})"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-sm-5 blog-label-inner">
                                                     <label class="condition-label"> <strong> Condition </strong>
                                                     </label>
                                                     <label class="custom-chk">
                                                         <input type="checkbox" class="minimal" value="anyone"
                                                                id="level1condition" name="level1condition"> <span
                                                             class="check-label"> Anyone </span>
                                                     </label>
                                                     <label class="custom-chk">
                                                         <input type="checkbox" class="minimal" value="exclusive"
                                                                name="level1condition"> <span
                                                             class="check-label"> Exclusive </span>
                                                     </label>
                                                 </div>-->
                                            </div>
                                        </div>
                                        <div class="col-md-12 blog-approvel-lebel" id="level2">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label> level 2: </label>
                                                                <select class="select-items form-control"
                                                                        name="level2RoleId" id="level2RoleId">
                                                                    <option value="">Select a role</option>
                                                                    <option th:each="role : *{moderatorRoles}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getName()}"
                                                                            th:selected="(${moderatedByLevel2}==${role.getId()})"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-sm-5 blog-label-inner">
                                                     <label class="condition-label"> <strong>Condition</strong> </label>
                                                     <label class="custom-chk">
                                                         <input type="checkbox" class="minimal" value="anyone"
                                                                id="level2condition" name="level2condition"> <span
                                                             class="check-label"> Anyone </span>
                                                     </label>
                                                     <label class="custom-chk">
                                                         <input type="checkbox" class="minimal" value="exclusive"
                                                                name="level2condition"> <span
                                                             class="check-label"> Exclusive </span>
                                                     </label>
                                                 </div>-->
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="divider"></div>
                                        </div>
                                        <!--  <div class="col-sm-12 margin-b15">
                                              <div class="row">
                                                  <div class="form-group">
                                                      <div class="col-sm-3">
                                                          <label> <strong> Allow user Generated Tags:</strong> </label>
                                                      </div>
                                                      <div class="col-sm-3">
                                                          <label class="custom-chk">
                                                              <input type="checkbox" class="minimal" checked>
                                                              <span class="check-label"> yes </span>
                                                          </label>
                                                          <label class="custom-chk">
                                                              <input type="checkbox" class="minimal">
                                                              <span class="check-label"> no </span>
                                                          </label>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>-->
                                        <!--  <div class="col-sm-3">
                                              <div class="form-group">
                                                  <label> Number of tags allowed per post </label>
                                                  <input type="text" class="form-control" name="" id="">
                                              </div>
                                          </div>
                                          <div class="col-md-12">
                                              <div class="divider"></div>
                                          </div>
                                          <div class="form-group moderation-group">
                                              <div class="col-sm-3">
                                                  <label>Enable moderation for <sup class="r-star-sign">*</sup> </label>
                                              </div>
                                              <div class="col-sm-6">
                                                  <label class="custom-chk">
                                                      <input type="checkbox" class="minimal" checked>
                                                      <span class="check-label">Posts</span>
                                                  </label>
                                                  <label class="custom-chk">
                                                      <input type="checkbox" class="minimal" checked>
                                                      <span class="check-label">comments</span>
                                                  </label>
                                                  <label class="custom-chk">
                                                      <input type="checkbox" class="minimal" checked>
                                                      <span class="check-label">Reply</span>
                                                  </label>
                                              </div>
                                          </div>-->
                                        <!-- <div class="form-group moderation-group">
                                             <div class="col-sm-3">
                                                 <label> Stop words: <sup class="r-star-sign">*</sup></label>
                                             </div>
                                             <div class="col-sm-6">
                                                 <textarea></textarea>
                                             </div>
                                         </div>-->
                                        <!-- Moderation Start Here -->
                                        <!-- <div class="col-sm-12 margin-b15">
                                             <div class="row">
                                                 <div class="form-group">
                                                     <div class="col-sm-3">
                                                         <label> <strong> Set moderation for: </strong> </label>
                                                     </div>
                                                     <div class="col-sm-4">
                                                         <label class="custom-chk">
                                                             <input type="checkbox" class="minimal" checked>
                                                             <span class="check-label"> all communities </span>
                                                         </label>
                                                         <label class="custom-chk">
                                                             <input type="checkbox" class="minimal">
                                                             <span class="check-label"> specific </span>
                                                         </label>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>-->
                                        <!-- <div class="col-sm-12">
                                             <div class="row">
                                                 <div class="col-sm-4">
                                                     <div class="form-group">
                                                         <label> Select Community </label>
                                                         <select class="form-control">
                                                             <option value="">Sports</option>
                                                             <option value="">Movies</option>
                                                             <option value="">Information Technology</option>
                                                         </select>
                                                     </div>
                                                 </div>
                                                 <div class="add-remove">
                                                     <button class="main-button m-right-10" name="" type="">
                                                         add <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                     </button>
                                                     <div class="clearfix"></div>
                                                     <button class="main-button" name="" type="">
                                                         <i class="fa fa-arrow-left" aria-hidden="true"></i>remove
                                                     </button>
                                                 </div>
                                                 <div class="col-sm-4 add-remove-comm">
                                                     <div class="form-group">
                                                         <ul>
                                                             <li>
                                                                 <span>E&P</span>
                                                                 <input type="hidden" class="form-control" name="" id=""
                                                                        placeholder="">
                                                             </li>
                                                             <li>
                                                                 <span>Art & Culture</span>
                                                                 <input type="hidden" class="form-control" name="" id=""
                                                                        placeholder="">
                                                             </li>
                                                             <li>
                                                                 <span>Petchem</span>
                                                                 <input type="hidden" class="form-control" name="" id=""
                                                                        placeholder="">
                                                             </li>
                                                         </ul>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>-->
                                        <!-- Moderation End Here -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button class="main-button submit m-right-10" type="submit">Submit</button>
                    <a class="cancel-button" href="javascript:void(0);" onclick="history.back();"> Cancel </a>
                </div>
            </form>
        </section>
    </div>
    <script th:inline="javascript" layout:fragment="inner-scripts">

        $(document).ready(function () {
            $("#numberOfLevel").change(function () {
                var noOfLevels = $(this).val();
                if (noOfLevels == 1) {
                    document.getElementById("level2").style.display = "none";
                } else {
                    document.getElementById("level2").style.display = "block";
                }

            });
        });

        $('#categoryId').change(function () {
            var item = $(this);
            var contentId = $("#id").val();
            var categoryId = item.val();

            var url = "/moderation/content/" + contentId + "/" + categoryId;
            $("#loader").show();
            window.location.href = url;
        });

        $(document).ready(function () {

            $("input.communities").on("ifClicked", function () {
                $(".communities").not(this).iCheck('uncheck');
            });

            $('input.communities').on('ifClicked ifChecked', function () {
                var communities = $(".communities:checked").val();
                if (communities == 1) {
                    $("#categoryId").prop("disabled", true);
                } else {
                    $("#categoryId").prop("disabled", false);
                }

            });

        });
    </script>
</div>
<!-- Main content End Here -->
