<div class="row">
    <div class="col-lg-12">
        <form action="/categoryType/store" th:method="POST" name="categoryForm" id="categoryForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> name </label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <input type="submit" class="main-button" value="Save" id="submit">
                    <button type="button" class="gray-button" data-dismiss="modal"> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>