.add-comm-radio {margin-right: 30px;margin-top: 34px;}
.add-comm-radio .type {float:left;margin-right: 30px;}
.cumm-type {margin-top: 0px !important;}
.addcommunity-detail-wrapper .preview-image {margin-bottom:15px;margin-top:10px;}
.areainterest-detail-wrapper .preview-image {margin-bottom:15px;margin-top:10px;}

.scroll-table-list {max-height:600px;overflow-x:hidden;}
/* Analytics */
.analytics-wrapper .traffic-box {display: inline-block;width: 100%;font-size:14px;color:#000;margin-top: 10px;padding: 0px 10px;}
.analytics-wrapper .traffic-box .name {float:left;text-align: left;width: 75%;}
.analytics-wrapper .traffic-box .number {float:right}
.analytics-wrapper .heading {background: #f4f4f4;border-bottom: solid 2px #e6e6e6;margin-left: 0px;padding:10px 10px;}
.analytics-wrapper .border-box {border: solid 2px #f4f4f4;margin-bottom:20px;}
.analytics-wrapper .heading .box-title {margin-top: 0px;}
.analytics-wrapper .rel-chart-box {display: inline-block;width: 100%;margin-top:20px;padding: 0px 15px 15px;}
.analytics-wrapper .rel-chart-box .chart-select {width: 200px;height:40px;border: solid 1px #e4e4e4;margin-bottom: 20px;padding: 0px 10px;}
.analytics-wrapper .rel-chart-box .chart-select:focus {outline:none}
ul.chart-url {padding:0;float: right;margin-top:12px;margin-bottom:20px;}
ul.chart-url li {float: left;list-style-type: none;}
ul.chart-url li a {color:#000;border-right: solid 1px #d4d4d4;padding-right: 10px;padding-left: 10px;font-size: 16px;}
ul.chart-url li:last-child a {border:none;} 
ul.chart-url li a.active  {background: #34659f;padding: 5px 16px;color: #fff;}
.analytics-wrapper .pro-box {display: inline-block;width: 100%;margin-bottom: 10px;padding: 0px 10px;}
.analytics-wrapper .pro-box .traffic-box {padding: 0px 0px 5px;}
.analytics-wrapper .pro-box .progress {width:75%;float:left;margin-bottom: 0px;}
.analytics-wrapper .pro-box .badge {float:right;margin-top:-7px;} 
.analytics-wrapper .box-header {margin-top:10px;}
.analytics-wrapper .rel-chart-box img {width:100%}
.analytics-wrapper .progress-bar-blues {background-color: #3c8dbc;}
.analytics-wrapper .bg-blues {background-color:#3c8dbc}
.analytics-wrapper .urls .traffic-box .name {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.analytics-wrapper .modal-body {padding:0px;}
.analytics-wrapper .datepicker-analytics {margin-bottom: 20px;}
.analytics-wrapper .datetime-ana-inner {float:right;}
.analytics-wrapper .datepicker-analytics .add-right {margin-top: 1px;padding: 8px 20px;}
/* Analytics */
.help-question-status img {margin-left: 5px;width: 24px;margin-top: -5px;}
.popover-content {font-size: 14px;}
.popover-title {font-size: 16px;background-color: #34659f;color: #fff;}
/* badges-popup */
.badges-popup .add-lavel-budge {margin-top:20px;}
.badges-popup .preview-image {margin-top: 25px;}
.badges-popup .custom-radio {margin-top:9px !important;}
.badges-popup .add-lavel-budge .level-container {float: left;margin-right: 20px;position: relative;margin-bottom: 10px;}
.add-lavel-budge .main-button {padding: 8px 15px !important;float: left;}
.add-lavel-budge .main-button:focus {color: #fff;}
.add-lavel-budge .main-button i {margin-right: 5px;}
.badges-popup .remove_field i {position: absolute;top: -6px;right: -5px;font-size: 18px;cursor: pointer;}
/* badges-popup */	
.addcommunity-detail-wrapper .import-toggle .dropdown-menu {top:38px;}
.blog-wrapper .heading-main {margin:5px 0px 25px;}
.permission-org-box .custom-radio {margin-right:20px;}
.main-header .logo .logo-lg b span.top-ril-name {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 155px;float:right;font-size:13px;}
/* Loader Page */
.loader-wrapper {position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background: rgba(0, 0, 0, 0.74);text-align:center;display:none;}
.loader-inner {position: relative;height: 100vh;width: 100%;}
.loader-inner img {position: absolute;top:50%;left:50%;}
.loader-inner span {position: absolute;top:59%;left:49.5%;color: #fff;font-size: 18px;}
/* Loader Page */
/* Edit Page  */
.edit-list-box .json-editor-blackbord {height: 500px;overflow-y: auto;}
.edit-scroll-box {margin-bottom:20px;margin-top:10px}
.edit-textarea-box {margin-top:10px;margin-bottom:20px;}
.edit-textarea-box textarea {height:500px;}
.translate-button {margin-top:20px;float: right;}
/* Edit Page  */
/* collapse CSS */
.collapse-icons {display:none}
.sidebar-collapse .collapse-icons {display:block !important;}
.sidebar-collapse .collapse-icons img {width:22px;}
/* collapse CSS  */
/* Notification CSS */
.notifications-menu .dropdown-toggle {margin-top:5px;}
.notifications-menu ul.dropdown-menu li.header {color: #fff !important;background-color: #194579 !important;border-bottom: 0px solid #f4f4f4 !important;}
.notifications-menu ul.menu li a {background:#3575c1;color:#fff !important;border-bottom: solid 1px #6192cd !important;}
.notifications-menu ul.menu li a:hover  {background:#3f6998 !important;}
.notifications-menu ul.menu li a.active {background:#3f6998 !important;}
/* Notification CSS  */
/* TOP organization CSS */
.organization-search {width:100%;padding:8px 10px 10px;float:left;background: #194579;}
.organization-search .search-tool {width:100%;position: relative;}
.organization-search .search-tool .form-control {background: #3575c169;border: solid 1px #4470a5;color: #fff;}
.organization-search .search-tool .form-control::-webkit-input-placeholder{color:#fff;}
.organization-search .search-tool .form-control::-moz-placeholder {color:#fff;}
.organization-search .search-tool .form-control:-ms-input-placeholder {color:#fff;}
.organization-search .search-tool .input-group {width:100%;}
.organization-search .search-tool .fa-search {position:absolute;top:10px;right:10px;z-index:1000;font-size:16px;color:#62a7f9;cursor: pointer;}
ul.org-menu {float: left;list-style-image: none;list-style-type: none;margin-top: 0px;margin-left: 0px;padding-left: 0px;width:100%;background:#3575c1;    
overflow: auto;max-height: 176px;}
ul.org-menu li {position: relative;float: left;list-style-image: none;list-style-type: none;width:100%;}
ul.org-menu li a  {font-size: 14px;color:#bfdbfd;text-decoration: none;float: left;width:100%;
padding:7px 10px;border-bottom: solid 1px #2961a2;}
ul.org-menu li a:hover {background:#3f6998;color: #FFF;}
ul.org-menu li a.active  {background:#3f6998;color: #FFF;}
ul.org-menu ul.sub-menu {position: absolute;z-index: 1000;display:none;background:#194579;width:50%;margin-top: 0px;margin-left: 0px;padding-left: 0px;}
ul.org-menu ul.sub-menu li {display:block;position:relative;float: left;width:100%;margin:0px;padding:0px;background-repeat: no-repeat;}
ul.org-menu ul.sub-menu li:hover {display:block;background:#3f6998;}
ul.org-menu ul.sub-menu li:hover a {color:#fff;font-size: 14px;text-align: left;}
ul.org-menu li:hover>ul.sub-menu{position:absolute;top:0px;display:block;left:50%;}
/* TOP organization CSS  */
/* General Setting Page CSS  */
.gen-setting-tab {padding: 0px 20px;}
.gen-setting-tab ul {border-bottom: solid 1px #d4d4d4;}
.gen-setting-tab ul li a {font-size: 16px;padding:8px 30px;background:#194579;border-top: solid 4px #3575c1;color:#fff;font-weight: normal !important;}
.gen-setting-tab ul li a.active {background:#337ab7;border-top: solid 4px #337ab7;}
.gen-setting-tab ul li a:hover {background:#337ab7;color:#fff}
.gen-setting-tab ul.wrap {padding:0px;margin:20px 0px;border: none;}
.gen-setting-tab ul.wrap li {list-style-type:none;float: left;width:100%;border:solid 1px #d4d4d4;padding:5px 10px;cursor: all-scroll;margin-bottom:20px;
box-shadow: 0px 3px 4px 0px #d4d4d4;}
.text-view[disabled], .text-view[readonly], fieldset[disabled] .text-view {background-color: inherit;opacity: 1;border: none;}
.gen-setting-ok {float:right;margin-top:27px;font-size: 18px;cursor:pointer;margin-left: -15px;}
.gen-setting-close {float: right;width:40px;height: 40px;background: #34659f;border-radius: 50px;}
.gen-setting-close img {border-radius:50px;margin: 4px;}
.general-set-label {float: left;margin-bottom:15px;display: block;width:100%;}
.general-set-label label {float:right;font-size:18px;font-weight:600;margin-top:10px;margin-right: 15px;text-transform: none;}
.general-set-label .icon-bg {float: right;width: 44px;height: 44px;
 border-radius: 50px;color: #fff;background-position:center center;text-align: center;}
.general-set-label .icon-bg img {width:24px;padding-top:10px;}
.general-set-label .icon-bg i {margin-top: 15px;}
.gen-setting-wrapper .landing {margin-top:15px;}
.gen-setting-wrapper .landing label  {text-transform: none;}
/* General Setting Page CSS  */
.header-divider {width: 1px;background: #729cce;height: 18px;float: left;margin-top: 20px;}
.messages-menu {margin-right:15px;padding-bottom:12px;background:#194579;width:350px;}
.ril-top-box {font-size:16px;float:left;text-align:center;}
.messages-menu ul.dropdown-menu {width:350px !important; }
.organization-menu ul.dropdown-menu {width:350px !important;}
.ril-table tr th {text-transform: uppercase;font-size: 16px;font-weight: 600;border-top: 0px solid #f4f4f4 !important;
color: #333;border-bottom: solid 1px #1e5596;border-right: solid 1px #1e5596;width:50%;color: #fff;}
.ril-table tr td {border-bottom: solid 1px #1e5596;width:50%;padding: 8px 13px;color: #a3c0e2;}
.ril-table tr th.ril-client {background: #3575c1;}
.ril-table tr th.ril-org {background: #194579;}
.ril-table tr td.ril-client {background: #3575c1;}
.ril-table tr td.ril-org {background: #194579;}
.messages-menu .dropdown-menu {overflow:auto;max-height:176px;}
.ril-table tr td.active {background-color: #3f6998 !important;/* border-left: solid 5px #bfa161; */border-top: solid 1px #6192cd;border-bottom: solid 1px #1e5596;color: #fff;}
.ril-top-box .ril-title{width:150px;float:left;margin-top:3px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ril-top-box .ril-title-2 {width:170px;background:#3575c1;padding: 5px 25px;border-radius:50px;float:right;margin-top:-2px;overflow: hidden;
text-overflow: ellipsis;white-space: nowrap;}
.edit-community-wrapper .add-remove-comm {margin-top:5px;}
.select-items-header {margin-top:5px;}
.select-items-header .nice-select { background: #f5f5f5;}
.button-btm-box {width:100%;text-align: center}
.button-btm-box .main-button {margin-right:15px;text-transform: inherit;}
.moderation-table .switch-check {top:6px;margin-left:10px;float: right;}
.sucess-approve {background: #9bd498 !important;}
.reject-approve {background: #ef6f6f !important;}
.skin-blue .sidebar-menu > li > a {border-bottom:solid 1px #082c56;box-shadow:0px 1px 0px 0px #215088;}
.skin-blue .sidebar-menu li:last-child a {border:none;box-shadow:none;}
.skin-blue .sidebar-menu .treeview-menu > li > a:hover {color: #7bade6 !important;}
.skin-blue .sidebar-menu .treeview-menu > li > a.active {color: #7bade6 !important;}
.check-bottom {float:left;width:100%;margin-bottom:15px;}
.permisson-box .inner-permisson  {background: #f5f5f5;float: left;margin: 15px 0px;/* height: 170px; */width:100%;}
.blog-wrapper .popup-form-title {margin-top:15px;}
.blog-wrapper .blog-approvel-lebel .blog-label-inner  {margin-top:35px;}
.blog-wrapper .condition-label {float:left;margin-right:40px;}
.blog-wrapper .blog-approvel-lebel {margin:15px 0px;}
.divider {float:left;width:100%;height:1px;background:#cecece;margin:25px 0px}
.heading-main {font-size:18px;font-weight:600;margin:25px 0px 25px;}
.heading-title-inner {font-size:16px;font-weight: 600;margin-bottom:15px;padding:0px 15px;}
.select-blog {float:left;width:100%;margin-bottom:15px;}
.both-blog-chk {width:100%;padding:10px 0px 20px;float:left;}
.add-remove {margin-top:60px;text-align: center;width:140px;float: left;}
.add-remove .main-button {margin-bottom:10px;}
.add-remove .main-button .fa-arrow-right {font-size:11px;margin-left: 4px;}
.add-remove .main-button .fa-arrow-left {font-size:11px;margin-right: 4px;}
.human-result-scroll {float: left;width: 100%;}
.add-remove-comm {border:solid 1px #ddd;padding:10px;padding: 10px 20px;margin-top:25px;}
.add-remove-comm .form-control {border:none;border-radius:0px;padding-left:0px;}
.add-remove-comm ul {padding: 0px;}
.add-remove-comm ul li {list-style-type: none;border-bottom: solid 1px #ddd;padding:8px 0px;}
ul.selectv2 {padding: 0px;display: inline-block;width: 100%;margin: 10px 0px;}
ul.selectv2 li {list-style-type: none;float: left;padding: 5px 10px;background:#ddd;margin-right:10px;border-radius:5px;}
ul.selectv2 li a {list-style-type: none;float: left;padding: 5px 10px;background:#ddd;margin-right:10px;border-radius:5px;}
ul.selectv2 li i {color: #7d7474;margin-left:5px;margin-bottom:5px;cursor: pointer;}
.check-label {margin-left:15px;}
.custom-chk {float:left;margin-right:20px;font-weight:600;}
.moderation-wrapper .switch-check {top:0px;}
.moderation-group {width:100%;float: left; margin-bottom: 30px;}
.select-comm-admin {box-shadow:0px 2px 3px 2px #e4e4e4;float:left;width:100%;padding:10px;margin-top:-15px;margin-bottom:30px;}
.big-model {width:1024px;margin:30px auto;}
textarea {width: 100%;height:90px;border-radius: 5px;box-shadow: none;resize:none;padding-left:10px;border: solid 1px #ddd;}
.margin-b15 {margin-bottom:15px}
.max-limit {font-size:13px;float: left;width: 100%;text-align:right;margin-top:5px;}
.add-community-popup .fileUpload {right: 15px;}
.type-switch {margin-top: 24px;}
.type-switch label {margin-right:30px;float:left;margin-top:10px;}
.type-switch .toggle-switch {}
.add-community-popup {position:relative}
.add-community-popup .modal-footer {background:#f7f3f3;border-top:solid 1px #ccc !important}
.member-import {float: left;width: 100%;padding-bottom:20px;}
.member-list {background: #f2f2f2;float: left;width: 100%;padding: 15px 20px;}
.member-list .title {font-size: 16px;float: left;width: 100%;color:#000;font-weight: 600;} 
.member-list .title a {color:#34659F}
.member-list .title a:hover {color:#000}
.member-list .number {font-size:14px;float: left;width: 100%;color:#000;} 
.member-list .member-inner-list {border-bottom:solid 1px #dbdbdb;float:left;
width: 100%;padding-bottom:10px;margin-bottom:10px;}
.member-list .member-inner-list:last-child {border:none;margin-bottom:0px;padding-bottom:0px;}
.s-all {float:left;width: 100%;margin:20px 0px;}
.s-all span  {float: left;font-size: 16px;font-weight: bold;color:#333;margin-right: 50px;}
.s-all .minimal {float: right;}
.human-filter-search .search-tool {width:100%;}
.human-srh-result {float:left;width:100%;padding-bottom:20px;margin-bottom:15px;border-bottom:solid 1px #f4f4f4;} 
.human-srh-result .r-pic {float: left;width:50px;height:50px;border-radius:50px;margin-right:20px;border:solid 1px #ddd;}
.human-srh-result .r-pic img {width:50px;height:50px;border-radius:50px;}
.human-srh-result:last-child {border:none;padding-bottom:0px;margin-bottom:0px;}
.human-srh-result .r-title {float: left;width:75%;margin-top: 5px;font-size: 16px;color:#000;font-weight:600;}
.human-srh-result .r-title a {color:#34659F}
.human-srh-result .r-title a:hover {color:#000}
.human-srh-result .r-desc {float: left;width:75%}
.human-srh-result .r-check {float: right;}
.content-header h1 {color:#000;}
.gray-right {float:right;margin-right:10px}
.gray-right i {margin-right:5px;}
.saas-level-table .delete-icon {margin-top:8px;float:left;}
.saas-level-table .edit-icon {margin-top:8px;float:left;}
.saas-level-table .saas-td {float:right} 
.saas-level-table tr th:last-child {text-align:right}
.upb {float:left;margin-top:-9px;}
.content-header .content-header {position:relative}
.heading-top-right {position: absolute;top:10px;right:0px;}
.heading-top-right .add-right {margin-top: 1px;}
.org-chart .col-sm-4 {margin: 25px 0px;}
.org-chart-desc {margin:10px 0px;}
ol.list-data li {font-size: 14px;padding: 10px 0px;line-height: 22px;}
.separator {border-bottom:solid 1px #eae6e6;float: left;width:100%;margin:25px 0px 25px;}
.popup-form-title-2 {font-size:18px;font-weight:600;margin:25px 0px 25px;}
.hobbies {float:left;width:100%;}
.hobbies label  {width:100%;float:left;}
.hobbies .form-control {width:80%;float:left;}
.symbol-ic {float:left;margin-top:5px;margin-left:15px;}
.preview-image img {width:80px;height:80px;border: solid 1px #d4d4d4;}
/* Import Toggle */
.import-toggle {position:relative}
.import-toggle .dropdown-toggle {color:#fff;background:#34659f;font-size:14px;
font-weight: 600;text-align: center;height: 38px;border-bottom-right-radius:5px;border-top-right-radius:5px;position:absolute;right:0;top:0;    padding: 8px 18px 0px;}
.import-toggle .dropdown-toggle:hover {color: #fff;background: #194579;}
.import-toggle .dropdown-menu {width:200px;background: #34659f;left: inherit;right: 0;padding-top:0px;margin-top:0px;}
.import-toggle .dropdown-menu .dropdown-item {color:#fff;float:left;width:100%;padding:5px 10px 5px;}
.import-toggle .dropdown-menu .dropdown-item:hover  {color: #fff;background: #194579;}
/* Import Toggle */
/* avtive & Inactive Toggle */
.toggle-switch input + span {display: inline-block;background: #A5C8F1;color: #34659E;font-size: 13px;
text-transform: uppercase;padding:4px 10px;border-radius: 20px;}
.toggle-switch input:checked+span {color: #fff;background: #34659E;}
.toggle-switch input {position: absolute;width: 100%;height: 100%;opacity: 0; cursor: pointer;}
.toggle-switch .switch {position: relative;float: left;}
.switch-main {position: relative;overflow: hidden;display: inline-block;background: #a5c8f1;border-radius: 20px;padding: 4px;}
/* avtive & Inactive Toggle */
/***********  Dashboard CSS Start Here **************/
/* Image Hover Effect Start */
.da-slideFromTop {left: 0px;top: -100%;}
.da-slideFromBottom {left: 0px;top: 100%;}
.da-slideFromLeft {top: 0px; left: -100%;}
.da-slideFromRight {top: 0px;left: 100%;}
.da-slideTop {top: 0px;}
.da-slideLeft {left: 0px;}
.da-thumbs li ,
.da-thumbs li  img {display:block;position:relative;}
.da-thumbs li  {overflow: hidden;}
.da-thumbs li  article {position:absolute;background:#34659f;width: 100%;height:100%;    border-radius: 10px;}
.da-thumbs li  article.da-animate {-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.da-thumbs li  article a {color:#fff;padding:20px;display:block;}
.da-thumbs {text-align:center;margin-bottom:0px;padding: 0;}
.da-thumbs li  article span{display:inline-block;}
.da-thumbs li  article h3{color:#fff;padding-top:2px;font-size:13px;}
/* Image Hover Effect End */
.light-gray {background: #f4f4f4;border:solid 1px #d4d4d4;box-shadow: 0 8px 6px -6px #d4d4d4;}
.front-data {float:left;width:100%;text-align:center;padding:10px;min-height:165px;}
.front-data .icon {display: inline-block;margin-top:25px;width: 55px;height: 55px;}
.front-data .title {font-size:18px;color:#000;float:left;width:100%;margin-top:7px;line-height:20px;text-transform: uppercase;}
.front-data .icon-db-right {position:relative;margin-bottom: 30px;float:left;width:100%;}
.front-data .icon-db-right .delete-icon {position:absolute;right:33px;top:-2px;font-size:20px;}
.front-data .icon-db-right .edit-icon {position:absolute;right:0px;top:0px;font-size:20px;}
.back-data {float:left;width:100%;text-align:center;padding:10px;min-height:165px;}
.back-data .icon {display: inline-block;margin-top:25px;width: 55px;height: 55px;}
.back-data .title {font-size:18px;color:#fff;float:left;width:100%;margin-top:10px;line-height:20px;text-transform: uppercase;}
.back-data .icon-db-right {position:relative;margin-bottom: 30px;float:left;width:100%;}
.back-data .icon-db-right .delete-icon {position:absolute;right:33px;top:-2px;font-size:20px;padding: 0px;color:#fff}
.back-data .icon-db-right .edit-icon {position:absolute;right:0px;top:0px;font-size:20px;padding: 0px;color:#fff}
.dashboard-card-box {float:left;width:100%;}
.dashboard-data {display:block;width:100%;margin-bottom:25px;border-radius:10px;align-content:start;}
/***********  Dashboard CSS End Here **************/
/************ Model  ************/
.modal-dialog {width:700px;}
.popup-theme .modal-title {text-align:center;font-size:20px;text-transform:uppercase;font-weight:600;}
.popup-theme .modal-header {background:#34659f;color: #fff;}
.popup-theme .area-thumb {width:150px;height:150px;border:solid 1px #e5e5e5;float: left;margin-right:50px;}
.popup-theme .area-thumb img {width:100%;}
.popup-theme .modal-body {width:100%;padding: 20px;/* overflow:auto;max-height:500px;overflow-x:hidden; */}
.popup-theme .modal-footer {display: inline-block;width:100%;text-align:center;border:none;padding:20px 15px;}
.popup-theme .area-thumb-box {float: left;width:100%;}
.popup-theme .area-thumb-box .main-button{margin-top:110px;float: left;}
.popup-theme .popup-input {float:left;width:100%;margin-top:23px;border:none;border-bottom:solid 1px #e5e5e5;color:#000;font-size:16px;}
.popup-theme .popup-input:focus {outline:none}
.modal-header .close {color:#fff;opacity:inherit;margin-top:2px;}
.popup-theme .gray-button {padding: 8px 30px;font-size: 16px;background:#dad6d6;margin-right:10px;}
.popup-theme .main-button {padding: 8px 30px;font-size: 16px;margin-right:10px;}
.popup-theme .preview-button {padding: 8px 30px;font-size: 16px;background:#fff;margin-right: 10px;border: solid 1px #34659f;
border-radius: 5px;text-transform: capitalize;}
.popup-theme .preview-button:hover{background:#34659f;color:#fff}
/************ Model  ************/
.popup-theme .custom-radio {margin-top:17px;}
.popup-form-title {font-size:18px;font-weight:600;border-bottom:solid 1px #cecece;padding-bottom:10px;margin-bottom: 15px;text-transform:capitalize;}
.popup-form-title-inner {font-size:18px;font-weight:600;margin-bottom: 15px;padding: 0px 15px;}
.bg-box-form-bg {float: left;background:#f4f4f4;margin: 0px 15px 15px;padding: 15px 0px;}
.full-width {width:100%}
/************ File Upload CSS start ************/
/* File Upload CSS start */
.upload-button {float: right;color: #fff;background:#34659f;padding:6px 35px;
font-size: 16px;font-weight: 600;text-align: center;cursor: pointer;border-radius:5px;height: 38px;}
.upload-button:hover {background: #194579;} 
.file-upload-box {position:relative;}
.fileUpload {position:absolute;overflow:hidden;top:25px;right:0px;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;
cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
.upload-input {border: solid 1px #c6c6c6;height:38px;font-size:14px;float:left;width:100%;padding-left:15px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
/* File Upload CSS End */
/************ File Upload CSS End ************/
/*===================== switch checkbox Toggle =====================*/
.switch-check {position: relative;display: inline-block;width:40px;height:22px;margin-bottom: 0px;top:-2px;}
.switch-check .switch-cbox { opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #e4e4e4;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height:15px;width:15px;left:3px;
bottom:4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.switch-cbox:checked + .slider {background-color: #34659f;}
.switch-cbox:focus + .slider {box-shadow: 0 0 1px #34659f;}
.switch-cbox:checked + .slider:before {-webkit-transform: translateX(16px);-ms-transform: translateX(16px);transform: translateX(16px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;} 
/*===================== switch checkbox Toggle =====================*/
/*===================== End Icon Set =====================*/
.align-right {text-align:right}
.align-left {text-align:left}
.m-right-10 {margin-right:10px;}
.delete-icon {font-size:16px;color: #000;}
.edit-icon {font-size:16px;color: #000;}
.view-icon {font-size:16px;color: #000;}
.main-button {background: #34659f;color: #fff;border: none;border-radius: 5px;padding: 7px 15px;font-size:14px;
text-transform: capitalize;box-shadow: none;}
.main-button:hover {color: #fff;background:#194579;}
.cancel-button {background:#b5b3b3;color: #fff;border: none;border-radius: 5px;padding: 7px 15px;font-size:16px;
text-transform: uppercase;box-shadow: none;}
.cancel-button:hover {color: #fff;background:#969494;}
.gray-button {background:#e6e2e2;color:#000;border: none;border-radius: 5px;padding: 7px 15px;font-size:14px;
text-transform:capitalize;box-shadow: none;}
.gray-button:hover {color: #fff;background:#7c7d7d;}
.submit {text-transform:uppercase;font-size:16px;}
a,a:hover,a:focus{outline: none;text-decoration: none;transition: 0.3s;}
button,button:hover,button:focus{outline: none;text-decoration: none;transition: 0.3s;}
.error {color: #f00;padding-top: 2px;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}
.pad0{padding: 0;}
.logo-lg img {width:32px;margin-right:10px;margin-top:-3px;}
.logo-mini img {width:32px;}
.user-menu .top-user {background:#194579;padding: 8px;border-radius: 50px;color: #f1f1f1;text-align: center;line-height: 9px;}
.profile-menu .col-xs-12 a {float:left;width:100%;border-bottom: solid 1px #e4e7ea;font-size: 14px;
padding-bottom: 7px;padding-top: 7px;color:#666}
.profile-menu .col-xs-12 a:hover {color:#5a90d0;}
.profile-menu .col-xs-12:last-child a {border:none;}
.search-tool {float:left;width: 240px;margin-top:5px;margin-left:5px;}
.search-tool .form-control {font-size:16px;}
.table-theme tr th  {background: #f5f5f5;text-transform:uppercase;font-size: 16px;font-weight: 600;color: #333;border-bottom: solid 1px #ccc;}
.table-theme tr td  {font-size: 15px;color: #000;}
.add-right {float:right;margin-top: 5px;}
.add-right .fa-plus-circle {padding-right:5px;}
.add-right:focus {color:#fff} 
.heading {border-bottom: solid 1px #f4f4f4;float:left;padding: 0px 0px 10px;width:100%;margin-left: -3px;}
.heading .box-title {font-weight: 600;float: left;font-size: 18px;margin-top:10px;color: #000;}
.r-star-sign {color: #ff0000;font-size: 16px;padding-left: 5px;top: -.1em;}
.rc-form-body {width:100%;float:left;}
.remove-section {float:right;margin-top: 25px;}
.remove-section .fa-minus-circle {padding-right:5px;}
.iradio_minimal-blue {top: -1px;margin-right: 5px !important;}
.custom-radio {float: left;margin-right:50px;margin-top:10px;}
.quantity-input {width: 60px;height:40px;border: solid 1px #ccc;padding-left:10px;}
.col-form-label {text-align:left;margin-top:10px;text-transform: inherit;}
.pagination-data-box {width:100%;display: inline-block;border-top:solid 1px #f4f4f4;margin-top: 15px;}

.pagination-data-box .pagination-div {float:right;padding-right:10px;margin: 25px 0 20px;}
.pagination-data-box .pagination-div span {display: inline;}
.pagination-data-box .pagination-div span.selected {padding:6px 12px;float:left;background:#34659f;color:#fff;border:1px solid #34659f;}
.pagination-data-box .pagination-div span a {position:relative;float: left;
margin-left: -1px;line-height: 1.42857143;color:#333;text-decoration: none;background: #fafafa;padding: 6px 12px;border: 1px solid #ddd;}

.pagination-data-box .pagination-div span a:hover {color: #23527c;background-color: #eee;}


    




.pagination-data-box .pagination {float:right;padding-right:10px;}

/*===================== Nice Select css =====================*/
.nice-select {-webkit-tap-highlight-color: transparent;background-color: #fff;border-radius: 5px;
border: solid 1px #ddd;box-sizing: border-box;clear: both;cursor: pointer;display: block;float: left;font-family: inherit;font-size: 14px;font-weight: normal;height:38px;line-height:23px;outline: none;padding-left: 10px;padding-right: 30px;position: relative;
text-align: left !important;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;-webkit-user-select: none;
-moz-user-select: none;-ms-user-select: none;user-select: none;white-space: nowrap;width: 100%;}
.nice-select:hover {border-color: #dbdbdb;}
.nice-select:active, .nice-select.open, .nice-select:focus {border-color: #999; }
.nice-select:after {border-bottom: 2px solid #999;border-right: 2px solid #999;content: '';display: block;
height: 5px;margin-top: -4px;pointer-events: none;position: absolute;right: 12px;top: 50%;
-webkit-transform-origin: 66% 66%;-ms-transform-origin: 66% 66%;transform-origin: 66% 66%;-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: all 0.15s ease-in-out;transition: all 0.15s ease-in-out;width: 5px; }
.nice-select.open:after {-webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);transform: rotate(-135deg); }
.nice-select.open .list {opacity: 1;pointer-events: auto;-webkit-transform: scale(1) translateY(0);-ms-transform: scale(1) translateY(0);transform: scale(1) translateY(0); }
.nice-select.disabled { border-color: #ededed;color: #999;pointer-events: none; }
.nice-select.disabled:after { border-color: #cccccc; }
.nice-select.wide {width: 100%; }
.nice-select.wide .list {left: 0 !important;right: 0 !important; }
.nice-select.right {float: right; }
.nice-select.right .list {left: auto;right: 0; }
.nice-select.small { font-size: 12px; height: 36px; line-height: 34px; }
.nice-select.small:after { height: 4px; width: 4px; }
.nice-select.small .option {line-height: 34px; min-height: 34px; }
.nice-select .list {background-color: #fff;border-radius: 5px;box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);box-sizing: border-box;
margin-top: 4px;opacity: 0;overflow: hidden;padding: 0;pointer-events: none;
position: absolute;top: 100%;left: 0;-webkit-transform-origin: 50% 0;-ms-transform-origin: 50% 0;transform-origin: 50% 0;-webkit-transform: scale(0.75) translateY(-21px);-ms-transform: scale(0.75) translateY(-21px);transform: scale(0.75) translateY(-21px);
-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;z-index: 9; }
.nice-select .list:hover .option:not(:hover) {background-color: transparent !important; }
.nice-select .option {cursor: pointer;font-weight: 400;line-height: 40px;list-style: none;min-height: 40px;outline: none;
padding-left: 18px;padding-right: 29px;text-align: left;-webkit-transition: all 0.2s;transition: all 0.2s; }
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {background-color:#f6f6f6; }
.nice-select .option.selected {font-weight: bold; }
.nice-select .option.disabled {background-color: transparent;color: #999;cursor:default; }
.no-csspointerevents .nice-select .list {display: none;}
.no-csspointerevents .nice-select.open .list {display: block; }
.select-items.nice-select .list {width:100%;white-space:normal;max-height:300px;overflow:auto;}
.select-items.nice-select .option {line-height:20px;min-height:inherit;padding:5px 18px 5px }
.select-items.nice-select .current {overflow:hidden;width:95%;
white-space: nowrap;word-wrap: break-word;text-overflow: ellipsis;word-break:break-all;float: left;margin-top: 0px;}
.select-items.nice-select:after {border-bottom: 2px solid #4d4d4d;border-right: 2px solid #4d4d4d;}
.select-items.nice-select .list {border-radius:0px;margin-top: 2px;}
@media screen and (max-width:479px) {
.select-items.nice-select .current {width:100%;}  
}
/*===================== Nice Select css =====================*/
.status-sucess {width:26px;}
.status-red {width:26px;}
.popup-input::-webkit-input-placeholder{color:#000000;}
.popup-input::-moz-placeholder {color:#000000;}
.popup-input:-ms-input-placeholder {color:#000000;}
/*===================== Mobile View =====================*/
.ril-org-mob {position:absolute;top:16px;display:none}
.ril-org-mob .ril-icon img{width:20px;}
/*===================== Mobile View =====================*/
@media only screen and (min-width:1280px) and (max-width:1440px) {
.front-data .title {font-size: 16px;}	
.back-data .title  {font-size: 16px;}
.gen-setting-wrapper .gensetting-main-box {width: 50%;}	
.aoi-wrapper .ac-mob-interest label {font-size:13px}
.moderation-community-wrapper .ac-mob-interest label {font-size:13px}
.approval-button {display: flex;}
.approval-button a {display: flex;}
.approval-button .gray-right i {margin-top: 3px;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.pagination-data-box .pagination-div {padding-left: 10px;}	
.pagination-data-box .pagination-div span a {margin-bottom: 10px;}	
.addcommunity-detail-wrapper .max-limit {text-align:left}		
.badges-popup .custom-radio {margin-right: 20px;}
.big-model {width:auto;margin: 30px 15px 20px 15px;}
.permission-org-box .col-sm-6 {width:100%}
.approval-button  {display:flex} 	
.approval-button a {display:flex}	
.approval-button .gray-right i {margin-top: 3px;}	
.content-header h1 {margin: 15px 0px 0px;font-size: 22px;}	
.heading-top-right {width:auto;}	
.nice-select {margin-bottom:15px}	
.ril-org-mob {display:block !important;}
.messages-menu .ril-top-box {display:none}	
.messages-menu {width:auto;background:none;margin-right:0px;padding: 12px 0px;}
.navbar-custom-menu > .navbar-nav {width: 100%;}
.content-header {padding: 15px 15px 15px 15px;display: inline-block;width:100%}
.dashboard-card-box .col-sm-2 {width:33%;}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {right:0px}	
.front-data .title {font-size:16px;}
.back-data .title {font-size:16px;}
.org-both-box .col-sm-4 {width:50%}
.preview-image {float:left;margin-top:20px;}
.org-both-box .permisson-box .col-sm-6 {width:100%}
.org-both-box .custom-radio   {margin-right:10px;}
.heading-top-right .add-right {margin-top:15px;}
.button-align {display: inline-flex;}
.toggle-switch .switch-main {display:flex}
.addcommunity-detail-wrapper .col-sm-4 {width:100%}
.addcommunity-detail-wrapper .toggle-switch .switch-main {display:inline-block}
.addcommunity-detail-wrapper .select-display {display: inline-block;}
.addcommunity-detail-wrapper .addcomm-description {clear:both}
.add-remove { margin-top: 20px;width:100%;float:none;clear:both;}
.max-limit {margin-bottom:10px;}
ul.selectv2 li {margin-bottom:8px;}
.areainterest-detail-wrapper .col-sm-4 {width:100%}
.areainterest-detail-wrapper .toggle-switch .switch-main {display:inline-block}
.areainterest-detail-wrapper .select-display {display: inline-block;}
.areainterest-detail-wrapper .addcomm-description {clear:both}
.blog-wrapper .blog-approvel-lebel {clear: both;}
.blog-wrapper .blog-approvel-lebel .col-sm-4 {width:100%}
.blog-wrapper .blog-approvel-lebel .blog-label-inner {margin-top: 0px;width:100%;}
.blog-wrapper .col-sm-3 {width:100%}
.blog-wrapper .col-sm-6 {width:100%}
.blog-wrapper .col-sm-4 {width:100%}
.ac-mob {clear:both}
.ac-mob .ac-mob-interest {width:100%}
.add-remove-comm {width:100% !important;}
.add-remove-selected {width:100% !important;}
.moderation-community-wrapper .divider {margin: 12px 0px 16px;}
.moderation-community-wrapper .select-display {width:100%}
.aoi-wrapper .divider {margin: 12px 0px 16px;}
.aoi-wrapper .select-display {width:100%}
.custom-tag-wrapper .select-items-header {margin-top:5px;padding:0;display: inline-block;width:240px;margin-left:20px}
.edit-textarea-box textarea {height:200px;}
.edit-list-box .json-editor-blackbord {height:200px;}
.gen-setting-wrapper .general-set-label {margin-top:15px}
.gen-setting-wrapper .gensetting-main-box {width:80%}
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
.loader-inner span {top: 57%;left: 48.5%;}
.translate-center {text-align:center}	
.edit-list-box .translate-button {margin-top: 0px;float:none}
.edit-textarea-box textarea {margin-top:5px;}
.edit-community-wrapper .form-community {float:none;clear:both;width:100%} 		
.edit-community-wrapper .add-remove-selected {float:none;clear:both;} 	
.custom-tag-wrapper .select-items-header {width:220px;margin-left:20px}
.dashboard-card-box .col-sm-2 {width:50%}	
ul.org-menu li a {color:#fff !important;}
.pagination > li:first-child > a, .pagination > li:first-child > span {
border-top-left-radius:0px;border-bottom-left-radius:0px;}	
.pagination > li:last-child > a, .pagination > li:last-child > span {    
border-top-right-radius:0px;border-bottom-right-radius:0px;}
.pagination-data-box .pagination {width: 95%;margin-left:10px;float:none;padding-right: 0px;}
.pagination > li > a, .pagination > li > span {margin-bottom: 15px;}
}
@media only screen and (min-width:1280px) and (max-width:1440px) {
.one-line-row .switch-main { display: flex;}
.one-line-row .toggle-switch .switch { white-space: nowrap;}	
.table-theme tr td {padding: 8px 8px !important;font-size:14px;}
.table-theme tr th {font-size:15px;}
}
@media screen and (max-width:767px) {
.pagination-data-box .pagination-div {padding-left: 10px;}	
.pagination-data-box .pagination-div span a {margin-bottom: 10px;}
.scroll-table-list {max-height:400px;overflow-x: scroll;overflow-y: scroll;}
.addcommunity-detail-wrapper .max-limit {text-align:left}	
.add-comm-radio {overflow: hidden;}	
.cumm-type {margin-right:15px;}
.add-comm-radio {margin-right: 0px;margin-top: 0px;}
.badges-popup .file-upload-box {display:inline-block;width:100%;}	
.badges-popup .preview-image {margin-top: 0px;margin-bottom: 15px;}
.badges-popup .add-lavel-budge .main-button {margin-left:15px;}
.badges-popup .add-lavel-budge .level-container {margin-right:10px;}
.badges-popup .custom-radio {margin-right:25px;}
.ml10 {margin-left: 10px !important;}	
.popup-theme {padding-left:0px !important;}
.org-both-box .select-display {width:100%;}
.logo-lg img {margin-top: 11px;float: left;}
.main-header .logo .logo-lg b span.top-ril-name {float: left;width: 80%;}
.permission-org-box .col-form-label {width:100%}
.permission-org-box .product-hierarchy .row {margin-right:0px;margin-left:0px;}
.gen-setting-wrapper .general-set-label {margin-top:15px}
.edit-textarea-box textarea {height:130px;}
.edit-list-box .json-editor-blackbord {height:130px;}
.translate-center {text-align:center}	
.edit-list-box .translate-button {margin-top: 0px;float:none;}
.edit-textarea-box textarea {margin-top:5px;}
.blog-wrapper .blog-approvel-lebel .blog-label-inner {margin-top:0px;}	
.blog-wrapper .condition-label {margin-right:0px;width:100%;margin-top:-5px;}	
.blog-wrapper .blog-approvel-lebel {margin: 0px 0px 10px;clear: both;}
.blog-wrapper .moderation-group {float: none;clear: both;margin-bottom:25px;}
.blog-wrapper .select-display {width:100%}
.ac-mob {clear:both}
.moderation-community-wrapper .divider {margin: 12px 0px 16px;}
.moderation-community-wrapper .select-display {width:100%}
.aoi-wrapper .divider {margin: 12px 0px 16px;}
.aoi-wrapper .select-display {width:100%}
.approval-button {display:flex} 	
.approval-button a {display:flex}	
.approval-button .gray-right i {margin-top: 3px;}	
.permisson-box .inner-permisson {height:auto;}	
.nice-select {margin-bottom:15px}	
.heading-top-right .add-right {margin-top:20px;}
.main-button {font-size:14px;}
.cancel-button {font-size:14px;}
.ril-org-mob {display:block !important;}
.messages-menu .ril-top-box {display:none}
.messages-menu {width:auto;background:none;margin-right:0px;padding: 12px 0px;} 
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {right:0px}	
.profile-menu {width:180px !important;}
.main-footer {padding: 10px;}
.content-header > h1 {font-size:22px;margin:17px 0px 10px;}
.front-data {min-height:auto;padding:30px 10px;}
.front-data .icon {margin-top: 0px;}
.back-data {min-height: auto;padding:30px 10px;}
.back-data .icon {margin-top: 0px;}
.preview-image {float:left;margin-top:20px;}
.org-num-box {padding-left: 0px;}
.select-display {display:inline-block;}
.box {border-top: 2px solid #d2d6de;}
.front-data .title {font-size: 17px;}
.back-data .title {font-size: 17px;}
.content {padding-bottom: 25px;}
.pagination > li:first-child > a, .pagination > li:first-child > span {
border-top-left-radius:0px;border-bottom-left-radius:0px;}	
.pagination > li:last-child > a, .pagination > li:last-child > span {    
border-top-right-radius:0px;border-bottom-right-radius:0px;}
.pagination-data-box .pagination {width: 95%;margin-left:10px;float:none;}
.pagination > li > a, .pagination > li > span {margin-bottom:10px;}
.pagination-data-box .pagination {padding-right:0px;}
.button-align {display: inline-flex;}
.table-theme tr th {font-size: 14px;}
.table-theme tr td {font-size: 13px;}
.heading .box-title{font-size: 16px;}
.toggle-switch .switch-main {display:flex}
.addcommunity-detail-wrapper .toggle-switch .switch-main {display:inline-block}
.addcommunity-detail-wrapper .select-display {width:100%}
.add-remove {width:100%;margin-top:10px;float: none;clear:both;}
.add-remove-comm {float:left;width:100%;}
.max-limit {margin-bottom:10px;}
ul.selectv2 li {margin-bottom:8px;}
.areainterest-detail-wrapper .toggle-switch .switch-main {display:inline-block}
.areainterest-detail-wrapper .select-display {width:100%}
.areainterest-detail-wrapper .fileUpload {top: inherit;}
.select-comm-admin {display: inline-block;float:none}
.custom-tag-wrapper .select-items-header {margin-top:5px;padding:0;clear: both;display: inline-block;width:240px;margin-left: 20px;}
.loader-inner img {margin-left:-30px;}
.loader-inner span {font-size:16px;margin-left:-33px;top:70%}
/* Popup Start CSS */
.upload-button {padding: 8px 16px;font-size: 15px;}
.big-model {width:auto;margin: 30px 15px 20px 15px;}
.modal-dialog {width:auto;margin: 30px 15px 20px 15px;}
.popup-theme .modal-title {font-size: 18px;}
.edit-blog-popup .blog-label-mob {width:100%;clear:both;}
.edit-blog-popup .blog-label-mob .blog-check-mob {width:100%;display:inline-block;}
.bg-box-form-bg {margin: 0px 0px 0px;width:100%}
.edit-blog-popup .both-blog-chk {float:none;clear:both;margin-bottom:15px;}
.edit-blog-popup .bg-box-form-bg .select-display  {width:100%}
.popup-theme .select-display {width:100%}
.popup-theme .hobbies-control {overflow:hidden;}
.popup-theme .hobbies .form-control {width: 65%;}
.add-community-popup .member-import {float:none;overflow:hidden;padding-left:0;padding-right:0;}
.add-community-popup .member-list {padding: 10px 10px;}
.add-community-popup .popup-form-title-inner {font-size: 16px;line-height: 21px;}
.add-community-popup .member-list .member-inner-list {padding-bottom: 5px;margin-bottom: 5px;}
.add-community-popup .member-list .title {font-size:14px;}
.add-community-popup .human-srh-result .r-pic {display: inline-block;float:none;margin-right:0px;}
.add-community-popup .human-srh-result {text-align:center;padding-bottom:5px;margin-bottom:10px;}
.add-community-popup .human-srh-result .r-title {width:100%}
.add-community-popup .human-srh-result .r-desc  {width:100%;margin-bottom:10px;}
.add-community-popup .human-srh-result .r-check {float: none;}
.add-community-popup .s-all span {margin-right:25px;}
.add-community-popup .modal-footer .gray-button {margin-top:15px;}
/* Popup End CSS */
}
@media screen and (max-width:479px) {
.loader-inner span {top:60%}	
.custom-tag-wrapper .select-items-header {margin-top:20px;width:100%;margin-left:0px;}	
.custom-tag-wrapper .button-btm-box .main-button {margin-right: 0px;text-transform: inherit;width:200px;margin-bottom: 18px;    
display: inline-block;}	
.search-tool {width:100%;margin-left:0px;}
.add-right {margin:20px 0px 8px;}
.heading .box-title {width:100%;float:left;}
.heading {float: none;overflow:hidden;border-bottom: solid 0px #f4f4f4;}
}







