<!-- Main content Start Here -->
<div layout:decorate="~{layout}">
    <div layout:fragment="content">

        <section class="content-header">
            <h1>
                Add Area of Interest
            </h1>
        </section>
        <section class="content container-fluid areainterest-detail-wrapper">
            <!--  Category  Levels  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <form role="form" action="/aoi/store" th:method="POST" enctype="multipart/form-data"
                                  id="aoi" name="aoi">
                                <div class="box-body rc-form-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label> enter area of Interest title <sup
                                                        class="r-star-sign">*</sup>
                                                </label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                       th:value="${tagName}">
                                            </div>
                                        </div>

                                        <div class="col-sm-4 select-display">
                                            <div class="form-group">
                                                <label> Select Community </label>
                                                <!--   <label> Select Community <sup class="r-star-sign">*</sup> </label>
                                                   <select class="select-items form-control">
                                                       <option value="sports"> sports</option>
                                                       <option value="human resources"> human resources</option>
                                                       <option value="petchem"> petchem</option>
                                                   </select>-->
                                                <select class="select-items form-control" name="categoryId"
                                                        id="categoryId" th:value="${categoryList}">
                                                    <option value="">Select a Community</option>
                                                    <option th:each="category : *{categoryList}"
                                                            th:value="${category.getId()}"
                                                            th:text="${category.getTitle()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="form-group add-comm-radio">
                                                <label class="type"> Type: </label>
                                                <div class="custom-radio cumm-type">
                                                    <label>
                                                        <input name="isPrivate" checked type="radio"
                                                               value="1"
                                                               class="minimal" id="visible">
                                                        Closed
                                                    </label>
                                                </div>
                                                <div class="custom-radio cumm-type">
                                                    <label>
                                                        <input name="isPrivate" type="radio" value="0"
                                                               class="minimal" id="invisible">Open
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 addcomm-description">
                                            <div class="form-group">
                                                <label> description </label>
                                                <textarea id="description" name="description"> Describe the Area of Interest in less than 5000 characters. </textarea>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-4">
                                             <div class="form-group">
                                                 <label> Select AOI Admins </label>
                                                 <input type="text" class="form-control" name="" id="">
                                             </div>
                                             <div class="select-comm-admin">
                                                 <div class="human-srh-result">
                                                 <span class="r-pic">  <img
                                                         src="assets/images/dashboard-icon/user-icon.jpg">    </span>
                                                     <span class="r-title"> <a
                                                             href="#"> Abhishek Chhajlani </a> </span>
                                                     <span class="r-desc">  HR - Governance & Integration & HR Platform </span>
                                                     <div class="form-group r-check">
                                                         <label>
                                                             <input type="checkbox" class="minimal" checked>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="human-srh-result">
                                                 <span class="r-pic">  <img
                                                         src="assets/images/dashboard-icon/user-icon.jpg">    </span>
                                                     <span class="r-title">  Abhishek Chhajlani </span>
                                                     <span class="r-desc">  HR - Governance & Integration & HR Platform </span>
                                                     <div class="form-group r-check">
                                                         <label>
                                                             <input type="checkbox" class="minimal" checked>
                                                         </label>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>-->
                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label> Cover Image <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" id="coverImgName" name="communityImgName"
                                                       placeholder="Choose File"
                                                       class="upload-input">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="aoiImg" id="coverImg" type="file"
                                                           class="upload" value="Upload"/>
                                                </div>
                                            </div>
                                            <span class="max-limit"> Maximum size limit is 5 mb </span>
                                            <div class="row">
                                                <div class="col-sm-4 preview-image">
                                                    <img id="preview-image1" src="http://placehold.it/80x80">
                                                </div>
                                            </div>


                                        </div>
                                        <!---->

                                        <div class="col-sm-4">
                                            <div class="form-group file-upload-box">
                                                <label> SVG Image <sup class="r-star-sign">*</sup> </label>
                                                <input type="text" id="SvgImgName" name="aoiImg"
                                                       placeholder="Choose File"
                                                       class="upload-input">
                                                <div class="fileUpload upload-button">
                                                    <span>Upload</span>
                                                    <input name="aoiImg" id="SvgImg" type="file"
                                                           class="upload" value="Upload"/>
                                                </div>
                                            </div>
                                            <span class="max-limit"> Maximum size limit is 5 mb </span>

                                            <div class="row">
                                                <div class="col-sm-4 preview-image">
                                                    <img id="preview-image3" src="http://placehold.it/80x80">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="main-button submit m-right-10" type="submit">Submit</button>
                        <a class="cancel-button" href="javascript:void(0);"
                           onclick="history.back();">
                            Cancel </a>
                    </div>
                    </form>

                </div>

                <!--  Category  Levels  -->
        </section>
    </div>
</div>
<!-- Main content End Here -->