<div class="row">
    <div class="col-lg-12">
        <form action="/stopWord/update" th:method="PUT" name="stopWordForm" id="stopWordForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> name </label>
                        <input type="text" class="form-control" name="name" id="name" th:value="${stopWord.getName()}">
                        <input type="hidden" class="form-control" name="id" id="id" th:value="${id}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <input type="submit" class="main-button" value="Save" id="submit">
                    <button type="button" class="gray-button" data-dismiss="modal"> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>