<div layout:decorate="~{layout}">
    <div layout:fragment="content">
        <section class="content-header">
            <h1>Stop Words</h1>
        </section>
        <section class="content container-fluid table-box-control">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <a href="javascript:void(0);"
                               class="main-button add-right" id="add-button" th:onclick="|add('Stop word');|">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add a stop word
                            </a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-theme">
                                <tbody>
                                <tr>
                                    <th>Stop word</th>
                                    <th class="align-right"> Actions</th>
                                </tr>
                                <tr th:each="stopWord,iter : *{stopWordList}">
                                    <td th:text="${stopWord.getName()}"></td>
                                    <td class="align-right">
                                        <a href="javascript:void(0);" class="edit-icon"
                                           th:onclick="|edit('/stopWord/edit/${stopWord.getId()}','Stop Word',${stopWord.getId()})|">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Main content End Here -->
    <div layout:fragment="modal-popup">
        <div id="add-stopword" class="modal fade popup-theme" role="dialog">
            <div class="modal-dialog edit-blog-popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modal-title"> Add Content Type </h4>
                    </div>
                    <div class="modal-body panel-body" id="modal-body"></div>
                </div>
            </div>
        </div>
    </div>

    <script layout:fragment="inner-scripts">

        function edit(url, name, id) {
            $.ajax({
                url: url,
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Edit " + name);
                    $("#modal-body").html(response);
                    $("#add-stopword").modal("show");
                }
            });
        }

        function add(name) {
            $.ajax({
                url: "/stopWord/create",
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Add " + name);
                    $("#modal-body").html(response);
                    $("#add-stopword").modal("show");
                }
            });
        }

    </script>

</div>

