<tr th:each="module,iter :*{modules}">
    <td th:text="${iter.index +1 }">S.No</td>
    <td th:text="${module.getName()}">Module Name</td>
    <td th:text="${module.getDescription()}">Description</td>
    <td>
        <div class="toggle-switch">
            <div class="switch-main">
                <div class="switch">
                    <input type="radio" th:name="${module.getId()} + _status" value="1"
                           th:checked="(${module.getStatus()}==1)" class="status" th:data-id="${module.getId()}">
                    <span>Active</span>
                </div>
                <div class="switch">
                    <input type="radio" th:name="${module.getId()} + _status" value="0"
                           th:checked="(${module.getStatus()}==0)" class="status" th:data-id="${module.getId()}">
                    <span>Inactive</span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <a th:onclick="|show('/modules/show/${module.getId()}','Module',${module.getId()})|"
           class="view-icon m-right-10">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <a th:onclick="|edit('/modules/edit/${module.getId()}','Module',${module.getId()})|"
           class="edit-icon m-right-10">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </td>
</tr>