<form th:action="@{/category/store}" th:method="post" name="add-category" id="add-category">
    <div class="popup-form">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Category name </label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="main-button">save</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>
<!--add-community Model  -->