<form th:action="@{/point/store}" th:method="post" name="addactivity" id="addactivity">
    <div class="popup-form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Activity name </label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
            </div>
            <div class="col-sm-6 select-display">
                <div class="form-group">
                    <label>category</label>
                    <select class="select-items form-control" name="category" id="category">
                        <option value="">Select a category</option>
                        <option th:value="${category.getId()}" th:each="category : ${pointCategoryList}"
                                th:text="${category.getCategoryName()}"></option>
                    </select>
                </div>
            </div>
            <!------------>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="divider"></div>

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Connect</label>
                    <input type="text" class="form-control" name="c1" id="c1">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Communicate</label>
                    <input type="text" class="form-control" name="c2" id="c2">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Collaborate</label>
                    <input type="text" class="form-control" name="c3" id="c3">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Communify</label>
                    <input type="text" class="form-control" name="c4" id="c4">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>CrowdSource</label>
                    <input type="text" class="form-control" name="c5" id="c5">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" class="form-control" name="code" id="code">
                </div>
            </div>
            <!-------------------->
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="submit" class="main-button">save</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>