<form th:action="@{/activity/update}" th:method="put"  name="addactivity" id="addactivity">
    <div class="popup-form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Activity name </label>
                    <input type="text" class="form-control" name="name" id="name" th:value="${activityData.getActivity()}">
                    <input type="hidden" class="form-control" name="id" id="id" th:value="${id}">
                </div>
            </div>
            <div class="col-sm-6 select-display">
                <div class="form-group">
                    <label>category</label>
                    <select class="select-items form-control" name="category" id="category">
                        <option value="">Select a category</option>
                        <option th:value="${category.getId()}" th:each="category : ${pointCategoryList}"
                                th:text="${category.getCategoryName()}"  th:selected="(${categoryId} == ${category.getId()})"></option>
                    </select>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-sm-12">
                <div class="divider">  </div>

            </div>
            <!------------>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Connect</label>
                    <input type="text" class="form-control" name="c1" id="c1" th:value="${activityData.getC1()}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Communicate</label>
                    <input type="text" class="form-control" name="c2" id="c2" th:value="${activityData.getC2()}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Collaborate</label>
                    <input type="text" class="form-control" name="c3" id="c3" th:value="${activityData.getC3()}">
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Communify</label>
                    <input type="text" class="form-control" name="c4" id="c4" th:value="${activityData.getC4()}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>CrowdSource</label>
                    <input type="text" class="form-control" name="c5" id="c5" th:value="${activityData.getC5()}">
                </div>
            </div>
            <div class="clearfix"> </div>
            <!-------------------->
            <div class="modal-footer">
                <button type="submit" class="main-button">save</button>
                <button type="button" class="gray-button" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</form>
<!--add-community Model  -->