<!-- Main content Start Here -->
<div layout:decorate="~{layout}">
    <div layout:fragment="content">

        <section class="content-header">
            <h1> Activity List </h1>
        </section>
        <section class="content container-fluid table-box-control">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">

                            <a href="javascript:void(0);" class="main-button add-right ml10"
                               th:onclick="|addCategory('Category');|"> <i class="fa fa-plus-circle"
                                                                           aria-hidden="true"></i>
                                Add New Category
                            </a>
                            <a href="javascript:void(0);" class="main-button add-right"
                               th:onclick="|add('Activity');|"> <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Activity
                            </a>
                        </div>
                        <!-- /.box-header -->
                        <div class="col-sm-12">
                            <div class="box-body table-responsive no-padding scroll-table-list">
                                <table class="table table-theme one-line-row">
                                    <tbody>
                                    <tr>
                                        <th>s.no</th>
                                        <!-- <th>Category Id</th>-->
                                        <th>Activity name</th>
                                        <th>Connect</th>
                                        <th>Communicate</th>
                                        <th>Collaborate</th>
                                        <th>Communify</th>
                                        <th>CrowdSource</th>
                                        <th>Score</th>
                                        <th>Points</th>
                                      <!--  <th>Code</th>-->
                                        <th>Actions</th>
                                    </tr>
                                    <tr th:each="point,iter : *{pointList}">
                                        <td th:text="${iter.index +1 }"></td>
                                        <!--<td th:text="${point.getCategoryId()}"></td>-->
                                        <td th:text="${point.getActivity()}"></td>
                                        <td th:text="${point.getC1()}"> Ril</td>
                                        <td th:text="${point.getC2()}"> Ril</td>
                                        <td th:text="${point.getC3()}"> Ril</td>
                                        <td th:text="${point.getC4()}"> Ril</td>
                                        <td th:text="${point.getC5()}"> Ril</td>
                                        <td th:text="${point.getScore()}"> Ril</td>
                                        <td th:text="${point.getPoints()}"> Ril</td>
                                      <!--  <td th:text="${point.getCode()}"> Ril</td>-->
                                        <td class="align-right">
                                            <a href="#" class="edit-icon m-right-10"
                                               th:onclick="|edit('/activity/edit/${point.getId()}','Activity',${point.getId()})|"><i
                                                    class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-------------------------------------->
                            <div class="pagination-data-box">
                                <div class="pagination-div">
        <span th:if="${page.hasPrevious()}">
        <a th:href="@{/points(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
                                    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                                        <span th:unless="${page.number == i}">
             <a th:href="@{/points(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
                                    </th:block>
                                    <span th:if="${page.hasNext()}">
        <a th:href="@{/points(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
                                </div>
                            </div>
                            <!-------------------------------------->
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Main content End Here -->
    <!--show add user popup-->
    <div layout:fragment="modal-popup">
        <div id="add-activity" class="modal fade popup-theme" role="dialog">
            <div class="big-model edit-activity-popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modal-title"> Add Activity</h4>
                    </div>
                    <div class="modal-body" id="modal-body"></div>
                </div>
            </div>
        </div>
    </div>

    <script layout:fragment="inner-scripts">

        function edit(url, name, id) {
            $.ajax({
                url: url,
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Edit " + name);
                    $("#modal-body").html(response);
                    $("#add-activity").modal("show");
                }
            });
        }

        function add(name) {
            $.ajax({
                url: "/points/create",
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Add " + name);
                    $("#modal-body").html(response);
                    $("#add-activity").modal("show");
                }
            });
        }

        function addCategory(name) {
            $.ajax({
                url: "/category/create",
                type: "get",
                success: function (response) {
                    $("#modal-title").html("Add " + name);
                    $("#modal-body").html(response);
                    $("#add-activity").modal("show");
                }
            });
        }
    </script>
</div>
<!--modal popup ends-->
